// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

// VARIABLES
$darkGrey: #333333;
$primary: #4793A3;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background: #fff;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

// ANIMATIONS
@keyframes sweep {

    from {
        opacity: 0;
        margin-top: -10px;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }

}

//////// SCROLLBAR STYLES ////////
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: $primary;
}

//////// NAVBAR STYLES ////////

.navbar {
    height: 80px;
    width: 100vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    background: #fff;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    border-top: 5px solid $primary;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    .navbar-brand {
        width: 100px;
        height: 50px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .nav-list {
        height: 80px;
        list-style: none;
        display: flex;

        .nav-item {
            line-height: 80px;
            position: relative;

            &:not(:last-of-type) {
                margin-right: 1.5em;
            }

            .nav-link,
            .dropdown .dropdown-link {
                text-decoration: none;
                color: $darkGrey;
                font-size: .85rem;
                font-weight: bold;
                cursor: pointer;
                transition: color .3s ease-in-out;

                &:hover {
                    color: $primary;
                }

                &.active {
                    color: $primary;
                    cursor: default;
                }
            }

            .dropdown {
                width: 200%;
                height: 150px;
                background: #fff;
                position: absolute;
                bottom: -145px;
                left: -50%;
                line-height: 1em;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                border-radius: 0 0 5px 5px;
                opacity: 0;
                transition: opacity .5s ease-in-out;
                visibility: hidden;
            }

            &.portfolio-nav-item:hover {

                .dropdown {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .menu-icon {
        color: $darkGrey;
        line-height: 80px;
        cursor: pointer;
        font-size: 1.25rem;
        display: none;
    }
}

//////// MOBILE MENU STYLES ////////

.mobile-menu {
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.95);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    display: none;

    .close-icon {
        color: $darkGrey;
        font-size: 2rem;
        position: absolute;
        right: 5vw;
        top: 6vh;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        list-style: none;

        .nav-item {
            margin: 1em 0;

            .nav-link {
                text-transform: uppercase;
                color: $darkGrey;
                text-decoration: none;
                font-weight: bold;
                letter-spacing: 0.5px;
                cursor: pointer;

                &.active {
                    color: $primary;
                }
            }
        }
    }
}

//////// HEADER (HOME) STYLES ////////

.home-header {
    height: 70vh;
    margin-top: 80px;
    width: 100vw;
    position: relative;
    background: url('../img/pattern-bg.png') center/cover no-repeat;

    .text-container {
        height: 50vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        .small-heading {
            font-weight: 500;
            text-transform: uppercase;
            color: $darkGrey;
            font-size: 1.25rem;
            margin-bottom: .5em;

            .blue {
                color: $primary;
                font-weight: bold;
            }
        }

        .big-heading {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 6rem;
            transform: scale(1.2, 1.25);
            color: $darkGrey;
            letter-spacing: -6px;

            &.primary {
                color: $primary;
                position: relative;
                top: -10px;
            }
        }

        .btn {
            position: relative;
            top: 1em;
        }
    }

    .camera {
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
        width: 175px;
    }
}

//////// BUTTON STYLES ////////

.btn {
    padding: 8px 24px;
    border-radius: 20px;
    text-decoration: none;
    transition: background .33s ease-in-out, color .33s ease-in-out;
    border: 2px solid;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .75rem;

    &.primary {
        border-color: $primary;
        color: $primary;

        &:hover {
            background: $primary;
            color: #fff;
        }
    }

    &.light {
        background: #fff;
        color: $darkGrey;
        border: none;
        padding: 12px 28px;
        cursor: pointer;

        &:hover {
            background: #ccc;
        }
    }

    &.primary-filled {
        color: #fff;
        background: $primary;
        border: none;
        padding: 12px 28px;

        &:hover {
            background: lighten($primary, 10%);
        }
    }
}

//////// WORK (HOME) STYLES ////////

.work {
    background: url('../img/our-work-bg.png') center/cover no-repeat fixed;
    width: 100vw;
    padding: 6em 0;

    .work-heading {
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        width: 650px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.85rem;
        letter-spacing: -1px;
    }

    .divider {
        width: 175px;
        background: #fff;
        height: 3px;
        margin: 1.5em auto;
    }

    .text {
        font-size: 1.1rem;
        color: #eee;
        width: 550px;
        text-align: center;
        margin: 0 auto;
        line-height: 1.5em;
    }

    .carousel {
        width: 80vw;
        position: relative;
        margin: 3em auto 0 auto;
        height: 40vh;
        display: flex;

        .carousel-image {
            transition: .5s ease-in-out;
            position: relative;
            width: calc(0.25 * 50vw);
            height: calc((0.25 * 50vw) * 1.25);

            &:not(:first-of-type) {
                margin-left: 1.2em;
            }

            /*&:hover {
                width: calc(0.3 * 50vw);
                height: calc((0.3 * 50vw) * 1.25);
                margin-top: -25px;
            }*/

            &:hover {
                filter: brightness(1.4) contrast(110%);
            }
        }
    }

    .btn {
        position: relative;
        left: calc(50% - 60px);
        transform: translateX(-50%);
    }
}

//////// ABOUT (HOME) STYLES ////////

.about-section {
    height: 92vh;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url('../img/pattern-bg.png') center/cover no-repeat;

    .text-section {
        width: 100%;
        height: 100%;

        .title {
            color: $darkGrey;
            text-transform: uppercase;
            font-size: 3rem;
            text-align: center;
            margin-top: 25%;

            .primary {
                color: $primary;
            }
        }

        .text {
            width: 47.5%;
            text-align: center;
            margin: 2em auto 3em auto;
            line-height: 1.75;
            color: lighten($darkGrey, 10%);
            font-weight: lighter;
        }

        .btn {
            position: relative;
            left: calc(50% - 65px);
            transform: translateX(-50%);
        }
    }

    .image-section {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .logo {
            height: 92vh;
            max-width: 50vw;
            object-fit: cover;
        }

    }
}

//////// CONTACT (HOME) STYLES ////////

.contact-section {
    background: url('../img/our-work-bg.png') center/cover no-repeat fixed;
    width: 100vw;
    padding: 9em 0;

    .title {
        color: #fff;
        text-align: center;
        font-size: 2.25rem;
        margin-bottom: 1em;
    }

    .contact-form {
        width: 30vw;
        margin: 0 auto;

        .form-group {
            width: 100%;
            margin: 1.25em 0;

            &.grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 1.25em;
            }

            .input {
                width: 100%;
                min-height: 45px;
                padding: 12px;
                border: none;
                border-radius: 5px;
            }

            .btn {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

//////// FOOTER STYLES ////////

.large-footer {
    background: $darkGrey;
    padding: 10vh 20vw 0 20vw;

    .footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10vh;

        .email-section {

            .heading {
                color: #fff;
                font-size: 1.25rem;
                letter-spacing: -1px;
            }

            .text {
                color: #aaa;
                font-size: .75rem;
                width: 60%;
                margin: 2em 0;

                .white {
                    color: #fff;
                }
            }

            .email-input {
                width: 200px;
                height: 30px;
                background: transparent;
                border: 1px solid #aaa;
                padding-left: 12px;
                color: #fff;
            }

            .email-btn {
                width: 75px;
                color: #fff;
                background: $primary;
                height: 30px;
                border: 1px solid $primary;
                text-transform: uppercase;
                cursor: pointer;
                transition: .3s ease-in-out;

                &:hover {
                    background: lighten($primary, 10%);
                }
            }
        }

        .lists-section {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .list-container {

                .heading {
                    color: #fff;
                    font-size: 1rem;
                    letter-spacing: -0.05px;
                    margin-bottom: 12px;
                }

                .list {
                    list-style: none;

                    .list-item {
                        margin-bottom: 12px;

                        .list-link {
                            color: #aaa;
                            font-size: .75rem;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .footer-small-section {
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;
        border-top: 2px solid #444;

        .copyright,
        .affiliate-disclosure {
            color: #aaa;
            font-size: 0.85rem;
        }

        .icon-list {
            display: flex;
            list-style: none;

            .icon-container {
                margin: .75em;

                .icon {
                    background: #bbb;
                    padding: 12px;
                    border-radius: 50%;
                    color: $darkGrey;
                    text-decoration: none;
                    transition: .3s ease-in-out;

                    &:hover {
                        background: #ddd;
                    }
                }
            }
        }
    }
}

//////// HEADER (ABOUT) STYLES ////////

.about-header {
    height: 50vh;
    margin-top: 80px;
    background: url('../img/BG.png') center/cover no-repeat fixed;
    position: relative;

    .page-title {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 4.5rem;
        color: #fff;
        letter-spacing: -3px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

//////// ABOUT SECTION (ABOUT) STYLES ////////

.introduction {
    padding: 0 20vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 80vh;
    background: url('../img/pattern-bg.png') center/cover no-repeat;
    position: relative;
    overflow: hidden;

    .text-section {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
            color: $darkGrey;
            font-size: 1.85vw;
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: -1px;
            margin-bottom: 1em;

            .primary {
                color: $primary;
            }
        }

        .about-text {
            width: 80%;
            text-align: left;
            line-height: 1.75;
            color: lighten($darkGrey, 10%);
            font-weight: lighter;
            margin-bottom: 2.5em;
            font-size: 1vw;
        }

        .btn {
            padding: 12px 54px;
            width: 180px;
        }
    }

    .adam-img {
        width: 30vw;
        position: absolute;
        bottom: 0;
        right: 20vw;
    }
}

//////// GET IN TOUCH SECTION (ABOUT) STYLES ////////

.get-in-touch {
    height: 80vh;
    background: url('../img/BG 2.png') center/cover no-repeat fixed;
    padding: 10vh 0;
    text-align: center;

    .title {
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 3rem;
        text-align: center;
        letter-spacing: 5px;
        margin-bottom: 7vh;
    }

    .grid {
        background: #fff;
        width: 50vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
        height: 60%;

        .box {
            width: 100%;
            color: #fff;
            position: relative;

            .icon {
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 3rem;
            }

            .text {
                font-style: italic;
                font-size: 1.15rem;
                position: absolute;
                top: 60%;
                transform: translate(-50%, -50%);
                left: 50%;
                min-width: 200px;
                text-align: center;

                .link {
                    color: #fff;
                }
            }

            &.one {
                background: #eee;
                color: $darkGrey;
            }

            &.two {
                background: url('../img/box-bg.jpg') center/cover no-repeat;
            }

            &.three {
                background: url('../img/box-bg-2.jpg') center/cover no-repeat;
            }
        }
    }

    .btn {
        position: relative;
        top: 7vh;
    }
}

//////// HEADER WITH DIVIDER STYLES ////////

.header-w-divider {
    height: 40vh;
    margin-top: 80px;
    background: url('../img/our-work-bg.png') center/cover no-repeat fixed;
    border-bottom: 2px solid #fff;
    position: relative;

    &.portraits-bg {
        background: url('../img/People & Events (formerly portraits page)/HEADER.jpeg') center/cover no-repeat fixed;
    }

    &.plates-bg {
        background: url('../img/work/Category\ Images/header-plates.jpg');
    }

    &.products-bg {
        background: url('../img/work/Category\ Images/header-products.jpg');
    }

    &.the-ring-shop-bg {
        background: url('../img/work/Auto/Header.jpg') center/1920px no-repeat;
    }

    &.no-border {
        border-bottom: none;
    }

    &.auto-bg {
        background: url('../img/work/header.jpg') center/cover no-repeat fixed;
    }

    .page-title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 3.25rem;
        color: #fff;
        letter-spacing: 2px;
        position: relative;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .divider {
        height: 3.5px;
        width: 200px;
        background: #fff;
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .header-img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -50px;

        &.lens {
            width: 100px;
            bottom: -75px;
        }

        &.mac {
            width: 175px;
        }
    }
}

//////// AFFILIATE DISCLOSURE SECTION AND COMING SOON SECTION STYLES ////////
.affiliate-disclosure-section,
.coming-soon-section {
    min-height: 70vh;
    background: url('../img/our-work-bg.png') center/cover no-repeat fixed;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
        color: #fff;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 4rem;
        text-align: center;

        span {
            color: #595959;
        }
    }

    .text {
        color: #fff;
        font-size: 1rem;
        width: 27.5%;
        margin: 2em 0;
        text-align: center;
        line-height: 1.25em;
    }
}

.coming-soon-section {
    min-height: 80vh;

    .email-form {
        margin-top: 2em;

        .input {
            padding: 12px 16px;
            min-width: 30vw;

            &::placeholder {
                font-weight: bold;
                color: $darkGrey;
            }
        }

        .submit-btn {
            padding: 11px 24px;
            margin-left: -12px;
            border: 2px solid #fff;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
            background: $primary;
        }
    }

}

//////// SERVICES SECTION (SERVICES) STYLES ////////

.services-section {
    padding: 15vh 10vw;
    background: url('../img/setup-baackground-2.jpg') center/cover no-repeat fixed;
    width: 100vw;

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3em;
        width: 80vw;

        .service-box {
            width: 100%;
            background: #fff;
            display: flex;
            padding: 6px;

            .service-img {
                width: 30%;
                height: 100%;
                object-position: 50% 50%;
                object-fit: cover;
            }

            .content {
                padding: 1em;

                .service-heading {
                    font-family: 'Bebas Neue', sans-serif;
                    font-size: 2.75rem;
                    color: $darkGrey;
                }

                .divider {
                    height: 5px;
                    width: 75%;
                    background: $primary;
                    margin-bottom: 1.5em;
                }

                .service-text {
                    width: 90%;
                    font-size: 1rem;
                    line-height: 1.5em;

                    .link {
                        color: $primary;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .btn {
        position: relative;
        top: 6em;
        left: 50%;
        transform: translateX(-50%);
        margin-left: -70px;
    }
}

//////// PORTFOLIO IMAGE POPUP (portfolio/*) STYLES ////////
.portfolio-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 3;
    opacity: 0;
    display: none;
}

.portfolio-popup-image {
    height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    opacity: 0;
    display: none;
}

//////// CASE STUDY CONTAINER (portfolio/*/case-study) STYLES ////////
.case-study-container {
    background: url('../img/setup-baackground-2.jpg') center/cover no-repeat fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7.5vh 0;

    .case-study-body {
        width: 60vw;
        background: #fff;
        padding: 4em;
        min-width: 1150px;
        text-align: center;

        .title {
            color: $darkGrey;
            font-size: 2rem;
            font-weight: 900;
            text-transform: uppercase;
            text-align: left;
        }

        .divider {
            background: $primary;
            height: 5px;
            max-width: 150px;
            width: 20%;
            margin: .6em 0 1em 0;
        }

        .grid {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .text {
                width: 90%;
                color: $darkGrey;
                line-height: 2em;
                margin-top: 2em;
                text-align: left;

                &:not(:first-of-type) {
                    margin-left: 5%;
                }

                .em {
                    color: $primary;
                    font-weight: bold;
                    font-size: 1.1rem;
                }

                &.num-4 {
                    margin-top: 3.5em;
                }
            }

            .img {
                width: 90%;
                margin-bottom: 4em;
                border-radius: 5px;

                &:first-of-type,
                &:nth-child(2n) {
                    margin: 0 auto 4em auto;
                }

                &.dual-img {
                    border-radius: 0px;
                }

                &:last-of-type {
                    margin-top: 2em;
                }
            }
        }
    }

    .case-study {
        width: 65vw;
        margin: 3em auto;
        background: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

        .intro-section {
            background: #e9e9e9;
            padding: 3em 4em;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .title {
                color: $darkGrey;
                font-size: 2rem;
                font-weight: 900;
                text-transform: uppercase;
            }

            .divider {
                margin: .6em 0;
                width: 200px;
                height: 3px;
                background-color: $primary;
            }

            .text {
                width: 87.5%;
                color: $darkGrey;
                line-height: 1.5em;
                margin-top: 2em;

                .primary {
                    color: $primary;
                    font-weight: bold;
                }
            }

            .rings {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .ring-grid {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    width: 75%;
                    column-gap: 1.25em;

                    .ring-img {
                        width: 100%;
                    }
                }

                .text {
                    font-size: 1.15rem;
                    color: #666;
                    text-transform: uppercase;
                    text-align: center;
                    letter-spacing: 2px;
                }
            }

            .image-section {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

                .img {
                    width: 90%;
                    margin-left: 10%;
                }
            }
        }

        .regular-text {
            margin: 3em 4em;
            color: $darkGrey;
            line-height: 1.5em;
        }

        .hero-img {
            width: 100%;
        }

        .hero-grid {
            background: url("../img/Portfolio\ Home\ Page/Dark Wallpaper.jpg");
            padding: 2em 3%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 1em;

            .ring-hero-img {
                width: 100%;
            }
        }

        .content-section {
            margin: 3em 4em;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .text-container {
                width: 90%;
                display: flex;
                align-items: center;

                .text {
                    color: $darkGrey;
                    line-height: 1.5em;
                }
            }

            .images-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                height: 100%;
                gap: 1em;

                img {
                    width: 100%;
                    height: 100%;

                    &.taller {
                        grid-row: span 2;
                    }
                }
            }
        }

        .large-img-grid {
            margin: 2em auto;
            padding: 0 4em;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: .25em 1.1em;

            img {
                width: 100%;
            }

            .two-columns {
                grid-column: span 2;
            }
        }

        .larger-img-grid {
            margin: 0 auto 1em auto;
            padding: 0 4em;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 1.1em;

            img {
                width: 100%;
            }
        }

        .small-img-grid {
            margin: 1em auto;
            padding: 2em 4em;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 1.1em;
            background: #e9e9e9;

            img {
                width: 100%;
            }
        }

        .heres-what-text {
            color: $darkGrey;
            font-size: 1.8rem;
            font-weight: 900;
            text-transform: capitalize;
            width: 45%;
            margin: 2em auto 1em auto;
            text-align: center;

            .primary {
                color: $primary;
                text-transform: uppercase;
            }
        }

        .ending-section {
            background: #e9e9e9;
            padding: 4em 4em 8em 4em;
            text-align: center;

            .testimonial-video {
                width: 60%;
                height: 40vh;
                border: 0;
                border-radius: 10px;
            }

            .btn {
                position: relative;
                top: 4em;
            }
        }

        .btn-container {
            text-align: center;
            padding: 2em 0 4em 0;

            .btn {
                position: relative;
                top: 1em;
            }
        }
    }
}

//////// CASE STUDY SECTION (portfolio/*) STYLES ////////
.case-study-section {
    background: url('../img/BG\ 2.png') center/cover no-repeat fixed;
    padding: 10vh 25vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;

    .case-study-box {
        background: #fff;
        padding: .5em .5em 5em .5em;
        border-radius: 5px;
        position: relative;

        .case-study-img {
            width: 100%;
        }

        .title {
            color: $darkGrey;
            font-weight: 900;
            font-size: 1.75rem;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            padding: .25em 0 0 0;
            text-align: center;
        }

        .divider {
            width: 50%;
            height: 3px;
            background-color: $primary;
            margin: .5em auto 1em auto;
        }

        .desc {
            font-size: 1rem;
            width: 85%;
            margin: 0 auto;
            line-height: 1.5em;
            text-align: center;

            .primary {
                font-weight: bold;
                color: $primary;
            }
        }

        .btn {
            position: absolute;
            bottom: 2em;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
    }
}

//////// PORTFOLIO WORK SECTION (PORTFOLIO/*) STYLES ////////
.portfolio-work-section {
    background: url('../img/pattern-bg.png') center/cover no-repeat fixed;
    padding: 10vh 20vw;
    text-align: center;

    .work-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em;
        margin-bottom: 4em;

        .work-image {
            width: 100%;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
            transition: opacity .4s ease-in-out;
            cursor: pointer;

            &:hover {
                opacity: .85;
            }
        }
    }
}

//////// PORTFOLIO SECTIONS (PORTFOLIO) STYLES ////////

.latest-work-section {
    min-height: 110px;
    background: url('../img/Portfolio\ Home\ Page/Wallpapers.jpg');
    display: grid;
    grid-template-columns: 1fr 7fr;

    .logo-box {
        background: url("../img/Portfolio\ Home\ Page/Dark Wallpaper.jpg") center/cover fixed;

        .logo {
            width: 42.5%;
        }
    }

    .text-box,
    .logo-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .text-box {
        .text {
            color: $darkGrey;
            font-weight: 900;
            font-size: 1.75rem;
            text-transform: uppercase;
            letter-spacing: 0.5px;

            .primary {
                color: $primary;
            }
        }
    }
}

.case-study-title-section {
    min-height: 110px;
    background: url('../img/Portfolio\ Home\ Page/Wallpapers.jpg');
    display: grid;
    grid-template-columns: 7fr 1fr;

    .icon-box {
        background: url("../img/Portfolio\ Home\ Page/Dark Wallpaper.jpg") center/cover fixed;

        .icon {
            color: #fff;
        }
    }

    .text-box,
    .icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .text-box {
        .text {
            color: $darkGrey;
            font-weight: 900;
            font-size: 1.75rem;
            text-transform: uppercase;
            letter-spacing: 0.5px;

            .primary {
                color: $primary;
            }
        }
    }
}

.work-category-section {
    background: url("../img/Portfolio\ Home\ Page/Dark Wallpaper.jpg") center/cover fixed;
    padding: 4em 5vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5em;

    .box {
        min-height: 70vh;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        transition: opacity .3s ease-in-out;

        .content {
            min-width: 50%;
            height: 50px;
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            padding: 0 1em;
            position: absolute;
            bottom: 4em;

            .work-title {
                margin-right: .5em;
                letter-spacing: 1px;
                font-weight: 700;
                font-size: 1.25rem;
            }
        }

        &:hover {
            opacity: .75;
        }

        &.automotive {
            background: url("../img/Portfolio\ Home\ Page/Auto.jpg") center/cover;
        }

        &.products {
            background: url("../img/Portfolio\ Home\ Page/Product.jpg") center/cover;
        }

        &.people {
            background: url("../img/Portfolio\ Home\ Page/People.jpg") center/cover;
        }

        &.plates {
            background: url("../img/Portfolio\ Home\ Page/Plates.jpg") center/cover;
        }
    }
}

.case-studies-section {
    background: url("../img/Portfolio\ Home\ Page/Dark Wallpaper.jpg") center/cover fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5em;
    padding: 4em 15vw;

    .case-study-box {
        background: #fff;
        padding: .5em .5em 5em .5em;
        border-radius: 5px;
        position: relative;

        .case-study-img {
            width: 100%;
        }

        .title {
            color: $darkGrey;
            font-weight: 900;
            font-size: 1.75rem;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            padding: .25em 0 0 0;
            text-align: center;
        }

        .divider {
            width: 50%;
            height: 3px;
            background-color: $primary;
            margin: .5em auto 1em auto;
        }

        .desc {
            font-size: 1rem;
            width: 85%;
            margin: 0 auto;
            line-height: 1.5em;
            text-align: center;

            .primary {
                font-weight: bold;
                color: $primary;
            }
        }

        .btn {
            position: absolute;
            bottom: 2em;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
    }
}

//////// FAQ SECTION (FAQ) STYLES ////////

.faq-section {
    background: url('../img/pattern-bg.png') center/cover no-repeat fixed;
    padding: 15vh 25vw;

    .question-title {
        color: rgba($darkGrey, 0.75);
        font-size: 2rem;
        background: rgba(195, 195, 195, 0.65);
        padding: .5em 1em;
        margin-bottom: 1em;
        cursor: pointer;
        transition: .3s ease-in-out;
        outline: none;

        &:hover {
            background: rgba(175, 175, 175, 0.65);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        }

        &:focus {
            background: rgba(165, 165, 165, 0.65);
        }

        span {
            font-weight: normal;
        }
    }

    .question-content {
        color: lighten($darkGrey, 25%);
        font-size: 1.5rem;
        padding-left: 1em;
        width: 95%;
        line-height: 1.25;
        padding-bottom: 3em;

        &:last-of-type {
            margin-bottom: 0;
        }

        .emphasise {
            color: $primary;
            font-weight: bold;
        }
    }

    .btn {
        position: relative;
        top: 5em;
        left: calc(50% - 70px);
        transform: translateX(-50%);
    }

    details[open] summary~* {
        animation: sweep .4s ease-in-out;
    }
}

//////// TESTIMONIALS SECTION (TESTIMONIALS) STYLES ////////

.testimonials-section {
    background: url("../img/Portfolio\ Home\ Page/Dark Wallpaper.jpg") center/cover fixed;
    ;
    padding: 10em 25vw 7.5em 25vw;
    border-bottom: 2px solid #fff;

    .testimonial-video {
        width: 100%;
        height: 57.5vh;
        border: none;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    }

    .large-text {
        font-weight: 900;
        width: 84%;
        margin: 1em auto;
        color: #575757;
        font-size: 3rem;
        text-align: center;
        letter-spacing: 3px;
        text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    }

    .btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

// Reponsive Media Queries
@media screen and (max-width:1392px) {

    .case-study-container .case-study {
        width: 80vw;
    }

    .case-studies-section {
        padding: 4em 5vw;
    }

    .home-header {

        .text-container {
            height: 45vh;

            .small-heading {
                font-size: 1.1rem;
            }

            .big-heading {
                font-size: 5rem;
            }
        }

    }

    .work {

        .work-heading {
            font-size: 1.65rem;
        }

        .text {
            font-size: 1rem;
        }

        .carousel {
            width: 90vw;

            .carousel-image {
                width: calc(0.275 * 50vw);
                height: calc((0.275 * 50vw) * 1.25);

                &:hover {
                    width: calc(0.275 * 50vw);
                    height: calc((0.275 * 50vw) * 1.25);
                }
            }
        }

    }

    .about-section {
        grid-template-columns: 4fr 5fr;
        height: 80vh;

        .text-section {

            .title {
                margin-top: 15%;
                font-size: 2.75rem;
            }

            .text {
                font-size: .9rem;
            }

        }
    }

    .contact-section {

        .contact-form {
            width: 45vw;
        }

    }

    .large-footer {
        padding: 10vh 12.5vw 0 12.5vw;
    }

    .introduction {
        padding: 0 15vw;

        .text-section {

            .title {
                font-size: 1.75rem;
            }

            .about-text {
                font-size: 1rem;
            }
        }

        .adam-img {
            right: 10%;
            width: 35%;
        }
    }

    .get-in-touch {

        .title {
            font-size: 2.5rem;
            letter-spacing: 4px;
        }

        .grid {
            width: 70vw;
        }
    }

    .faq-section {
        padding: 15vh 20vw;
    }

    .testimonials-section {
        padding: 10em 17.5vw 7.5em 17.5vw;
    }

    .affiliate-disclosure-section,
    .coming-soon-section {

        .title {
            font-size: 2.5rem;
        }

        .text {
            width: 50%;
        }
    }

    .services-section {
        padding: 15vh 5vw;

        .grid {
            width: 90vw;

            .service-box {

                .content {

                    .service-heading {
                        font-size: 2.25rem;
                    }

                    .divider {
                        margin-bottom: 1em;
                    }

                    .service-text {
                        font-size: .9rem;
                    }

                }
            }
        }
    }

    .case-study-section,
    .portfolio-work-section {
        padding: 10vh 10vw;
    }

}

@media screen and (max-width: 1272px) {

    .about-section {
        grid-template-columns: 1fr 1fr;

        .image-section {
            .logo {
                top: 0;
            }
        }
    }

    .case-study-container .case-study-body {
        min-width: 0;


        .title {
            text-align: center;
        }

        .divider {
            margin: .6em auto 1em auto;
        }

        .grid {
            display: block;

            .text {
                text-align: center;
                width: 90%;
                margin: 0 0 4em 5%;

                &.num-4 {
                    margin: 0 0 4em 5%;
                }

                &:not(:first-of-type) {
                    margin: 0 0 4em 5%;
                }

                &:first-of-type {
                    margin-top: 2em;
                }
            }

            .img {
                margin-bottom: 4em;
            }
        }
    }

}

@media screen and (max-width: 1148px) {


    .case-study-container .case-study {
        width: 90vw;
    }

    .work-category-section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 2em;
        height: 100vh;

        .box {
            height: 100%;
            min-height: 20vh;
        }
    }

    .home-header {

        .text-container {
            height: 40vh;

            .small-heading {
                font-size: 1rem;
            }

            .big-heading {
                font-size: 4rem;
            }
        }

    }


    .work {

        .carousel {
            flex-wrap: wrap;
            width: 73vw;
            height: 90vh;

            .carousel-image {
                width: calc(0.45 * 50vw);
                height: calc((0.45 * 50vw) * 1.25);

                &:nth-child(n+4) {
                    margin-top: -3em;
                }

                &:nth-child(4) {
                    margin-left: 0;
                }

                &:hover {
                    width: calc(0.45 * 50vw);
                    height: calc((0.45 * 50vw) * 1.25);
                    margin-top: 0;
                }
            }

            .btn {
                position: absolute;
                bottom: 1em;
            }
        }
    }

    .contact-section {
        .contact-form {
            width: 60vw;
        }
    }

    .introduction {
        padding: 0 5vw;

        .text-section {
            width: 75%;
        }

        .adam-img {
            width: 40%;
        }
    }

    .faq-section {
        padding: 15vh 10vw;
    }

    .testimonials-section {
        padding: 10em 12.5vw 7.5em 12.5vw;
    }

    .services-section {

        .grid {
            gap: 1.5em;
        }

    }

    .case-study-section {

        .case-study {

            .content {

                .case-study-title {
                    font-size: 1.75rem;
                }

                .divider {
                    height: 4px;
                    max-width: 200px;
                    width: 30%;
                }

                .case-study-desc {
                    font-size: .85rem;
                }
            }

            .case-study-img {
                object-position: center 0px;
            }

        }
    }
}

@media screen and (max-width:1040px) {
    .case-study-container .case-study {
        text-align: center;

        .intro-section {
            grid-template-columns: 1fr;

            .divider {
                margin-left: auto;
                margin-right: auto;
            }

            .text-section .text {
                margin: 1em auto;
            }

            .image-section {
                .img {
                    width: 50%;
                    margin: 0 auto;
                }
            }
        }

        .content-section {
            grid-template-columns: 1fr;

            .text-container .text {
                margin: 0 0 2em 10%;
            }
        }

        .ending-section .testimonial-video {
            width: 80%;
        }
    }

    .case-studies-section {
        grid-template-columns: 1fr;
        row-gap: 2em;
        padding: 4em 30vw;

        .case-study-box {
            padding-bottom: 6em;
        }
    }

    .work,
    .contact-section,
    .about-header,
    .get-in-touch,
    .header-w-divider,
    .services-section,
    .latest-work-section,
    .faq-section,
    .affiliate-disclosure-section,
    .coming-soon-section,
    .portfolio-work-section,
    .case-study-container {
        background-attachment: scroll;
    }

    .latest-work-section {
        grid-template-columns: 1fr 6fr;

        .text-box {
            .text {
                font-size: 1.35rem;
            }
        }
    }

    .case-study-title-section {
        grid-template-columns: 6fr 1fr;

        .text-box {
            .text {
                font-size: 1.35rem;
            }
        }
    }

    .navbar {

        .nav-list {
            display: none;
        }

        .menu-icon {
            display: block;
        }
    }

    .about-header {
        .page-title {
            font-size: 3rem;
        }
    }

    .about-section {
        display: block;
        height: 70vh;

        .image-section {
            display: none;
        }

        .text-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .title {
                margin: 0;
            }

            .btn {
                position: relative;
                left: 0;
                transform: none;
            }
        }
    }

    .introduction {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70vh;

        .text-section {

            .title {
                text-align: center;
            }

            .about-text {
                text-align: center;
                margin: 0 auto 2em auto;
            }

            .btn {
                margin: 0 auto;
            }
        }

        .adam-img {
            display: none;
        }
    }

    .get-in-touch {

        .grid {
            width: 90vw;
        }

    }

    .header-w-divider {
        .page-title {
            font-size: 3rem;
        }
    }

    .testimonials-section {
        padding: 10em 5vw 7.5em 5vw;
    }

    .services-section {
        padding: 15vh 15vw;

        .grid {
            grid-template-columns: 1fr;
            width: 70vw;
        }

    }
}

@media screen and (max-width: 948px) {

    .work {

        .carousel {
            height: 80vh;
            width: 53vw;
            min-width: 500px;

            .carousel-image {
                width: calc(0.5 * 50vw);
                min-width: 236px;
                height: calc((0.5 * 50vw) * 1.25);
                min-height: 294px;

                &:nth-child(n+5) {
                    display: none;
                }

                &:nth-child(3) {
                    margin-left: 0;
                }

                &:nth-child(4) {
                    margin-left: 1.2em;
                    margin-top: 0;
                }
            }
        }
    }

    .contact-section {

        .contact-form {

            .form-group.grid {
                grid-template-columns: 1fr;

                .input:nth-child(2) {
                    margin-top: 1.25em;
                }
            }
        }
    }

    .large-footer {
        padding: 10vh 7.5vw 0 7.5vw;

        .footer-small-section {

            .icon-list {

                .icon-container {

                    .icon {
                        padding: 8px;
                        font-size: .85rem;
                    }
                }
            }
        }
    }

    .portfolio-work-section {
        .work-grid {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width:884px) {

    .case-study-section {
        grid-template-columns: 1fr;
        row-gap: 2em;
    }

    .case-studies-section {
        padding: 4em 10vw;
    }

    .case-study-title-section {
        grid-template-columns: 5fr 1fr;

        .text-box {
            .text {
                width: 62.5%;
                text-align: center;
            }
        }
    }

    .home-header {

        .text-container {

            .small-heading {
                font-size: 1rem;
            }

            .big-heading {
                font-size: 3rem;
                letter-spacing: -2.5px;
                margin: .25em 0;
            }
        }
    }

    .testimonials-section {

        .testimonial-video {
            height: 30vh;
            width: 70%;
            margin-left: 15%;
        }
    }

    .large-footer {

        .footer-grid {
            grid-template-columns: 1fr;
            margin-bottom: 10vh;
            row-gap: 10vh;

            .email-section {
                text-align: center;

                .text {
                    margin: 2em auto;
                    width: 50%;
                    font-size: .8rem;
                    line-height: 1.5;
                }
            }

            .lists-section {

                .list-container {
                    text-align: center;

                    .heading {
                        font-size: 1.15rem;
                    }

                    .list .list-item .list-link {
                        font-size: .8rem;
                    }
                }
            }
        }

        .footer-small-section {
            flex-direction: column-reverse;
            height: 250px;
            padding: 50px 0;
        }

    }

    .get-in-touch {
        height: auto;
        padding-bottom: 15vh;

        .grid {
            grid-template-columns: 1fr;
            width: 50vw;
        }

        .box {
            height: 30vh;
        }
    }

    .header-w-divider {
        .page-title {
            font-size: 2.5rem;
        }
    }

    .faq-section {

        .question-title {
            font-size: 1.5rem;
            text-align: center;
        }

        .question-content {
            font-size: 1rem;
        }
    }

    .case-study-section {
        padding: 10vh 20vw;

        .case-study {
            display: block;
            padding: 2em;

            .content {
                padding: 1em;
                text-align: center;

                .divider {
                    margin: 1em auto;
                }

                .case-study-desc {
                    margin: 0 auto 2em auto;
                }
            }

            .case-study-img {
                width: 50%;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                height: 100%;
                margin-top: 2em;
            }
        }

    }
}

@media screen and (max-width: 712px) {

    .case-study-container .case-study {
        .intro-section .image-section .img {
            width: 90%;
        }

        .small-img-grid {
            grid-template-columns: 1fr 1fr;
        }

        .hero-grid {
            grid-template-columns: 1fr 1fr;
            row-gap: 2em;
        }

        .ending-section .testimonial-video {
            width: 100%;
            height: 30vh;
        }
    }

    .latest-work-section {
        grid-template-columns: 1fr 5fr;

        .text-box {
            .text {
                width: 62.5%;
                text-align: center;
            }
        }
    }

    .home-header {
        min-height: 650px;

        .text-container {
            height: 50vh;

            .small-heading {
                font-size: 1.25rem;
            }

            .big-heading {
                font-size: 4.5rem;
                letter-spacing: -4px;
                line-height: 1;

                &.primary {
                    margin-top: 40px;
                }

                &:first-of-type {
                    margin-top: .5em;
                }
            }
        }

        .camera {
            width: 20vw;
        }
    }

    .testimonials-section {
        .testimonial-video {
            width: 85%;
            height: 40vh;
            margin-left: 7.5%;
        }
    }

    .work {

        .work-heading {
            width: 60vw;
        }

        .text {
            width: 60vw;
        }

        .carousel {
            min-width: 237px;
            width: 237px;
            height: 120vh;
            min-height: 1000px;

            .carousel-image {

                &:nth-child(n+2) {
                    margin: 0;
                }

                &:nth-child(4) {
                    display: none;
                }

            }
        }
    }

    .about-section {
        min-height: 600px;
    }

    .large-footer {

        .footer-grid {

            .lists-section {
                grid-template-columns: 1fr;
                row-gap: 40px;
            }
        }
    }

    .introduction {
        height: 100vh;
    }

    .header-w-divider {
        .page-title {
            font-size: 2.75rem;
            width: 75%;
        }
    }

    .affiliate-disclosure-section,
    .coming-soon-section {

        .title {
            width: 75%;
        }

        .text {
            width: 65%;
        }
    }

    .services-section {
        padding: 15vh 5vw;

        .grid {
            width: 90vw;
            gap: 2em;
        }

    }

    .portfolio-popup-image {
        height: 50vh;
    }
}

@media screen and (max-width: 548px) {

    .case-study-container .case-study {

        .content-section .images-container,
        .large-img-grid,
        .small-img-grid {
            grid-template-columns: 1fr;
        }
    }

    .work-category-section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 110vh;
    }

    .latest-work-section {
        grid-template-columns: 1fr;
        height: 30vh;

        .logo-box .logo {
            width: 20%;
            max-width: 150px;
        }
    }

    .case-study-title-section {
        grid-template-columns: 1fr;
        height: 30vh;
    }

    .navbar {
        height: 100px;

        .menu-icon {
            line-height: 100px;
        }
    }

    .home-header {
        min-height: 500px;
        height: 50vh;

        .text-container {
            width: 80vw;
            height: 30vh;

            .small-heading {
                font-size: 1rem;
            }

            .big-heading {
                font-size: 3rem;
                width: 100%;
            }
        }

        .camera {
            width: 22.5vw;
            min-width: 105px;
        }
    }

    .about-section {
        min-height: 750px;

        .text-section {

            .title {
                font-size: 2rem;
            }

            .text {
                font-size: .8rem;
            }
        }
    }

    .about-header {
        .page-title {
            font-size: 2.5rem;
        }
    }

    .introduction {
        height: 120vh;
    }

    .get-in-touch {

        .title {
            font-size: 1.75rem;
            letter-spacing: 2.5px;
        }

        .grid {
            width: 75vw;

            .box {

                .text {
                    font-size: 1rem;
                }
            }
        }
    }

    .header-w-divider {
        height: 50vh;

        .divider {
            top: 30%;
        }

        .page-title {
            width: 80%;
        }
    }

    .affiliate-disclosure-section,
    .coming-soon-section {
        min-height: 85vh;

        .title {
            font-size: 2rem;
        }

        .text {
            font-size: .85rem;
            line-height: 1.5em;
            width: 75%;
        }
    }

    .services-section {

        .grid {
            gap: 4em;

            .service-box {
                display: flex;
                flex-direction: column;
                padding-bottom: 2em;

                .content {
                    text-align: center;

                    .divider {
                        margin: 0 auto 1.5em auto;
                    }

                    .service-text {
                        margin: 0 auto;
                    }
                }

                .service-img {
                    width: 50%;
                    margin: 0 auto;
                    height: 80%;
                    min-width: 200px;
                    min-height: 300px;
                }
            }
        }
    }

    .case-study-section {
        padding: 10vh 10vw;

        .case-study {

            .content .btn {
                font-size: .65rem;
            }

            .case-study-img {
                width: 80%;
            }

        }
    }

    .portfolio-work-section {
        padding: 10vh 15vw;

        .work-grid {
            grid-template-columns: 1fr;
        }
    }

    .portfolio-popup-image {
        height: 40vh;
    }

    .case-study-container .case-study-body {
        width: 90vw;
    }

    .testimonials-section {
        .testimonial-video {
            height: 25vh;
        }
    }
}