// VARIABLES
$darkGrey: #333333;
$primary: #4793A3;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background: $primary;
    overflow-x: hidden;
}

//////// SCROLLBAR STYLES ////////
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: $primary;
}

//////// NAVBAR STYLES ////////

.navbar {
    height: 80px;
    width: 100vw;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    background: #fff;
    padding: 0 5vw;
    display:flex;
    justify-content: space-between;
    border-top: 5px solid $primary;
    position:fixed;
    top:0;
    left: 0;
    z-index: 1;

    .navbar-brand {
        width: 100px;
        height: 50px;
        position: relative;
        top:50%;
        transform:translateY(-50%);
    }

    .nav-list {
        height: 80px;
        list-style: none;
        display:flex;

        .nav-item {
            line-height: 80px;
            
            &:not(:last-of-type) {
                margin-right: 1.5em;
            }

            .nav-link {
                text-decoration: none;
                color: $darkGrey;
                font-size: .85rem;
                font-weight: bold;
                cursor: pointer;
                transition: color .3s ease-in-out;

                &:hover {
                    color: $primary;
                }

                &.active {
                    color: $primary;
                    cursor: default;
                }
            }
        }
    }
}

//////// HEADER STYLES ////////

.home-header {
    height: 70vh;
    margin-top: 80px;
    width: 100vw;
    position:relative;
    background: url('../img/pattern-bg.png') center/cover no-repeat;

    .text-container {
        height: 50vh;
        position:absolute; 
        top:50%;
        left: 50%;
        transform:translate(-50%, -50%);
        text-align:center;

        .small-heading {
            font-weight: 500;
            text-transform:uppercase;
            color: $darkGrey;
            font-size: 1.25rem;
            margin-bottom: .5em;

            .blue {
                color: $primary;
                font-weight: bold;
            }
        }

        .big-heading {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 6rem;
            transform: scale(1.2, 1.25);
            color: $darkGrey;
            letter-spacing: -6px;

            &.primary {
                color: $primary;
                position:relative;
                top: -10px;
            }
        }

        .btn {
            position:relative;
            top: 1em;
        }
    }

    .camera {
        position:absolute;
        bottom: -50px;
        left:50%;
        transform: translateX(-50%);
        width: 175px;
    }
}

//////// BUTTON STYLES ////////

.btn {
    padding: 8px 24px;
    border-radius: 20px;
    text-decoration: none;
    transition: .33s ease-in-out;
    border: 2px solid;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .75rem;

    &.primary {
        border-color: $primary;
        color: $primary;

        &:hover {
            background: $primary;
            color: #fff;
        }
    }
}

//////// WORK STYLES ////////

.work {
    background: url('../img/our-work-bg.png') center/cover no-repeat fixed;
    width: 100vw;
    padding: 6em 0;

    .work-heading {
        color: #ffffff;
        text-transform: uppercase;
        text-align:center;
        width: 650px;
        position: relative;
        left:50%;
        transform:translateX(-50%);
        font-size: 2rem;
    }
}