* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #fff;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@-webkit-keyframes sweep {
  from {
    opacity: 0;
    margin-top: -10px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes sweep {
  from {
    opacity: 0;
    margin-top: -10px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #4793A3;
}

.navbar {
  height: 80px;
  width: 100vw;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  background: #fff;
  padding: 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 5px solid #4793A3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.navbar .navbar-brand {
  width: 100px;
  height: 50px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar .nav-list {
  height: 80px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-list .nav-item {
  line-height: 80px;
}

.navbar .nav-list .nav-item:not(:last-of-type) {
  margin-right: 1.5em;
}

.navbar .nav-list .nav-item .nav-link {
  text-decoration: none;
  color: #333333;
  font-size: .85rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.navbar .nav-list .nav-item .nav-link:hover {
  color: #4793A3;
}

.navbar .nav-list .nav-item .nav-link.active {
  color: #4793A3;
  cursor: default;
}

.home-header {
  height: 70vh;
  margin-top: 80px;
  width: 100vw;
  position: relative;
  background: url("../img/pattern-bg.png") center/cover no-repeat;
}

.home-header .text-container {
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.home-header .text-container .small-heading {
  font-weight: 500;
  text-transform: uppercase;
  color: #333333;
  font-size: 1.25rem;
  margin-bottom: .5em;
}

.home-header .text-container .small-heading .blue {
  color: #4793A3;
  font-weight: bold;
}

.home-header .text-container .big-heading {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 6rem;
  -webkit-transform: scale(1.2, 1.25);
          transform: scale(1.2, 1.25);
  color: #333333;
  letter-spacing: -6px;
}

.home-header .text-container .big-heading.primary {
  color: #4793A3;
  position: relative;
  top: -10px;
}

.home-header .text-container .btn {
  position: relative;
  top: 1em;
}

.home-header .camera {
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 175px;
}

.btn {
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration: none;
  -webkit-transition: background .33s ease-in-out, color .33s ease-in-out;
  transition: background .33s ease-in-out, color .33s ease-in-out;
  border: 2px solid;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .75rem;
}

.btn.primary {
  border-color: #4793A3;
  color: #4793A3;
}

.btn.primary:hover {
  background: #4793A3;
  color: #fff;
}

.btn.light {
  background: #fff;
  color: #333333;
  border: none;
  padding: 12px 28px;
  cursor: pointer;
}

.btn.light:hover {
  background: #ccc;
}

.btn.primary-filled {
  color: #fff;
  background: #4793A3;
  border: none;
  padding: 12px 28px;
}

.btn.primary-filled:hover {
  background: #62abbb;
}

.work {
  background: url("../img/our-work-bg.png") center/cover no-repeat fixed;
  width: 100vw;
  padding: 6em 0;
}

.work .work-heading {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  width: 650px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.85rem;
  letter-spacing: -1px;
}

.work .divider {
  width: 175px;
  background: #fff;
  height: 3px;
  margin: 1.5em auto;
}

.work .text {
  font-size: 1.1rem;
  color: #eee;
  width: 550px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5em;
}

.work .carousel {
  width: 80vw;
  position: relative;
  margin: 3em auto 0 auto;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work .carousel .carousel-image {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  position: relative;
  width: calc(0.25 * 50vw);
  height: calc((0.25 * 50vw) * 1.25);
}

.work .carousel .carousel-image:not(:first-of-type) {
  margin-left: 1.2em;
}

.work .carousel .carousel-image:hover {
  width: calc(0.3 * 50vw);
  height: calc((0.3 * 50vw) * 1.25);
  margin-top: -25px;
}

.work .btn {
  position: relative;
  left: calc(50% - 60px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about-section {
  height: 92vh;
  overflow-y: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
}

.about-section .text-section {
  width: 100%;
  height: 100%;
  background: url("../img/pattern-bg.png") center/cover no-repeat;
}

.about-section .text-section .title {
  color: #333333;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  margin-top: 25%;
}

.about-section .text-section .title .primary {
  color: #4793A3;
}

.about-section .text-section .text {
  width: 47.5%;
  text-align: center;
  margin: 2em auto 3em auto;
  line-height: 1.75;
  color: #4d4d4d;
  font-weight: lighter;
}

.about-section .text-section .btn {
  position: relative;
  left: calc(50% - 65px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about-section .image-section {
  height: 100%;
  width: 100%;
}

.about-section .image-section .logo {
  width: 100%;
  height: 100%;
  position: relative;
  top: -200px;
}

.contact-section {
  background: url("../img/our-work-bg.png") center/cover no-repeat fixed;
  width: 100vw;
  padding: 6em 0;
}

.contact-section .title {
  color: #fff;
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 1em;
}

.contact-section .contact-form {
  width: 30vw;
  margin: 0 auto;
}

.contact-section .contact-form .form-group {
  width: 100%;
  margin: 1.25em 0;
}

.contact-section .contact-form .form-group.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 1.25em;
          column-gap: 1.25em;
}

.contact-section .contact-form .form-group .input {
  width: 100%;
  min-height: 45px;
  padding: 12px;
  border: none;
  border-radius: 5px;
}

.contact-section .contact-form .form-group .btn {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.large-footer {
  background: #333333;
  padding: 10vh 20vw 0 20vw;
}

.large-footer .footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 10vh;
}

.large-footer .footer-grid .email-section .heading {
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: -1px;
}

.large-footer .footer-grid .email-section .text {
  color: #aaa;
  font-size: .75rem;
  width: 60%;
  margin: 2em 0;
}

.large-footer .footer-grid .email-section .text .white {
  color: #fff;
}

.large-footer .footer-grid .email-section .email-input {
  width: 200px;
  height: 30px;
  background: transparent;
  border: 1px solid #aaa;
  padding-left: 12px;
}

.large-footer .footer-grid .email-section .email-btn {
  width: 75px;
  color: #fff;
  background: #4793A3;
  height: 30px;
  border: 1px solid #4793A3;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.large-footer .footer-grid .email-section .email-btn:hover {
  background: #62abbb;
}

.large-footer .footer-grid .lists-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.large-footer .footer-grid .lists-section .list-container .heading {
  color: #fff;
  font-size: 1rem;
  letter-spacing: -0.05px;
  margin-bottom: 12px;
}

.large-footer .footer-grid .lists-section .list-container .list {
  list-style: none;
}

.large-footer .footer-grid .lists-section .list-container .list .list-item {
  margin-bottom: 12px;
}

.large-footer .footer-grid .lists-section .list-container .list .list-item .list-link {
  color: #aaa;
  font-size: .75rem;
  text-decoration: none;
}

.large-footer .footer-small-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #444;
}

.large-footer .footer-small-section .copyright, .large-footer .footer-small-section .affiliate-disclosure {
  color: #aaa;
  font-size: 0.85rem;
}

.large-footer .footer-small-section .icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.large-footer .footer-small-section .icon-list .icon-container {
  margin: .75em;
}

.large-footer .footer-small-section .icon-list .icon-container .icon {
  background: #bbb;
  padding: 12px;
  border-radius: 50%;
  color: #333333;
  text-decoration: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.large-footer .footer-small-section .icon-list .icon-container .icon:hover {
  background: #ddd;
}

.about-header {
  height: 50vh;
  margin-top: 80px;
  background: url("../img/BG.png") center/cover no-repeat fixed;
  position: relative;
}

.about-header .page-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3.5rem;
  color: #fff;
  letter-spacing: -3px;
  position: absolute;
  left: calc(50% + 100px);
  top: 50%;
  -webkit-transform: scale(1.2, 1.25) translate(-50%, -50%);
          transform: scale(1.2, 1.25) translate(-50%, -50%);
}

.introduction {
  padding: 6em 20vw 0 20vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 80vh;
  background: url("../img/pattern-bg.png") center/cover no-repeat;
  position: relative;
  overflow: hidden;
}

.introduction .text-section {
  width: 100%;
  margin: 10vh 0 0 5vw;
}

.introduction .text-section .title {
  color: #333333;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 1em;
}

.introduction .text-section .title .primary {
  color: #4793A3;
}

.introduction .text-section .about-text {
  width: 80%;
  text-align: left;
  line-height: 1.75;
  color: #4d4d4d;
  font-weight: lighter;
  margin-bottom: 2.5em;
}

.introduction .text-section .btn {
  padding: 12px 72px;
}

.introduction .adam-img {
  width: 95%;
}

.get-in-touch {
  height: 80vh;
  background: url("../img/BG 2.png") center/cover no-repeat fixed;
  padding: 10vh 0;
}

.get-in-touch .title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 7vh;
}

.get-in-touch .grid {
  background: #fff;
  width: 50vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  height: 60%;
}

.get-in-touch .grid .box {
  width: 100%;
  color: #fff;
  position: relative;
}

.get-in-touch .grid .box .icon {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3rem;
}

.get-in-touch .grid .box .text {
  font-style: italic;
  font-size: 1.15rem;
  position: absolute;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  min-width: 200px;
  text-align: center;
}

.get-in-touch .grid .box .text .link {
  color: #fff;
}

.get-in-touch .grid .box.one {
  background: #eee;
  color: #333333;
}

.get-in-touch .grid .box.two {
  background: url("../img/box-bg.jpg") center/cover no-repeat;
}

.get-in-touch .grid .box.three {
  background: url("../img/box-bg-2.jpg") center/cover no-repeat;
}

.get-in-touch .btn {
  position: relative;
  left: 50%;
  top: 7vh;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-w-divider {
  height: 40vh;
  margin-top: 80px;
  background: url("../img/our-work-bg.png") center/cover no-repeat fixed;
  border-bottom: 2px solid #fff;
  position: relative;
}

.header-w-divider .page-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.25rem;
  color: #fff;
  letter-spacing: 2px;
  position: absolute;
  left: calc(50% + 100px);
  top: 40%;
  -webkit-transform: scale(1.2, 1.25) translate(-50%, -50%);
          transform: scale(1.2, 1.25) translate(-50%, -50%);
  text-align: center;
}

.header-w-divider .divider {
  height: 3.5px;
  width: 200px;
  background: #fff;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-w-divider .header-img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -50px;
}

.header-w-divider .header-img.lens {
  width: 100px;
  bottom: -75px;
}

.header-w-divider .header-img.mac {
  width: 175px;
}

.header-w-divider.faq .divider {
  top: 65%;
}

.services-section {
  padding: 15vh 10vw;
  background: url("../img/setup-background.jpg") center/cover no-repeat fixed;
  width: 100vw;
}

.services-section .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 1.6em;
          column-gap: 1.6em;
}

.services-section .grid .service {
  background: #fff;
  padding: 7.5%;
}

.services-section .grid .service .service-title {
  text-transform: uppercase;
  color: #333333;
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-align: center;
}

.services-section .grid .service .divider {
  width: 100%;
  height: 3px;
  background: #4793A3;
  margin: 5% 0;
}

.services-section .grid .service .desc {
  width: 95%;
  color: #4d4d4d;
  line-height: 1.5;
  margin-bottom: 5%;
  text-align: center;
}

.services-section .grid .service .service-img {
  width: 100%;
  margin: 0 auto;
}

.services-section .btn {
  position: relative;
  top: 5em;
  left: 50%;
  width: 200px;
  margin-left: -70px;
}

.latest-work-section {
  background: url("../img/pattern-bg.png") center/cover no-repeat fixed;
  padding: 15vh 5vw;
}

.latest-work-section .content .title {
  color: #333333;
  text-align: center;
  font-size: 2rem;
}

.latest-work-section .content .desc {
  font-size: .85rem;
  color: #4d4d4d;
  width: 29%;
  text-align: center;
  margin: 1em auto;
  line-height: 1.5em;
}

.latest-work-section .content .btn {
  position: relative;
  left: calc(50% - 70px);
  top: 1.5em;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.latest-work-section .work-grid {
  margin-top: 5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
}

.latest-work-section .work-grid .work-img {
  width: 100%;
  cursor: pointer;
}

.latest-work-section .work-grid .work-img:hover {
  opacity: .75;
}

.latest-work-section .work-grid .work-img.active {
  width: 30vw;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
  cursor: default;
  z-index: 4;
}

.latest-work-section .work-grid .work-img.active:hover {
  opacity: 1;
}

.latest-work-section .overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
}

.faq-section {
  background: url("../img/pattern-bg.png") center/cover no-repeat fixed;
  padding: 15vh 25vw;
}

.faq-section .question-title {
  color: rgba(51, 51, 51, 0.75);
  font-size: 2rem;
  background: rgba(195, 195, 195, 0.65);
  padding: .5em 1em;
  margin-bottom: 1em;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  outline: none;
}

.faq-section .question-title:hover {
  background: rgba(175, 175, 175, 0.65);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.faq-section .question-title:focus {
  background: rgba(165, 165, 165, 0.65);
}

.faq-section .question-title span {
  font-weight: normal;
}

.faq-section .question-content {
  color: #737373;
  font-size: 1.5rem;
  padding-left: 1em;
  width: 95%;
  line-height: 1.25;
  padding-bottom: 3em;
}

.faq-section .question-content:last-of-type {
  margin-bottom: 0;
}

.faq-section .btn {
  position: relative;
  top: 5em;
  left: calc(50% - 70px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.faq-section details[open] summary ~ * {
  -webkit-animation: sweep .4s ease-in-out;
          animation: sweep .4s ease-in-out;
}

.testimonials-section {
  background: #2f2f2b;
  background: radial-gradient(circle, #2f2f2b 0%, #171716 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f2f2b",endColorstr="#171716",GradientType=1);
  padding: 10em 25vw 7.5em 25vw;
  border-bottom: 2px solid #fff;
}

.testimonials-section .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 1.5em;
          column-gap: 1.5em;
}

.testimonials-section .grid .testimonial-box {
  width: 100%;
  height: 435px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3.5em;
}

.testimonials-section .grid .testimonial-box .name {
  z-index: 1;
  font-size: 1.1rem;
  margin-bottom: 2em;
  text-align: center;
  color: #FF6161;
}

.testimonials-section .grid .testimonial-box .text {
  color: #fff;
  font-style: italic;
  z-index: 1;
  font-weight: lighter;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  letter-spacing: 1px;
  line-height: 2;
  opacity: .95;
  font-size: 1rem;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.testimonials-section .grid .testimonial-box .quote-icon {
  color: #fff;
  z-index: 1;
  position: absolute;
  bottom: 1.5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2rem;
  color: #FF6161;
}

.testimonials-section .grid .testimonial-box.first::before, .testimonials-section .grid .testimonial-box.secnd::before, .testimonials-section .grid .testimonial-box.third::before {
  content: "";
  background-image: url("../img/testimonials/1.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-filter: brightness(0.65);
          filter: brightness(0.65);
  z-index: 0;
}

.testimonials-section .grid .testimonial-box.secnd::before {
  background-image: url("../img/testimonials/2.jpg");
}

.testimonials-section .grid .testimonial-box.third::before {
  background-image: url("../img/testimonials/3.jpg");
}

.testimonials-section .large-text {
  font-weight: 900;
  width: 80%;
  margin: 1em auto;
  color: #575757;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.testimonials-section .btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 1392px) {
  .home-header .text-container {
    height: 45vh;
  }
  .home-header .text-container .small-heading {
    font-size: 1.1rem;
  }
  .home-header .text-container .big-heading {
    font-size: 5rem;
  }
  .work .work-heading {
    font-size: 1.65rem;
  }
  .work .text {
    font-size: 1rem;
  }
  .work .carousel {
    width: 90vw;
  }
  .work .carousel .carousel-image {
    width: calc(0.275 * 50vw);
    height: calc((0.275 * 50vw) * 1.25);
  }
  .about-section {
    -ms-grid-columns: 4fr 5fr;
        grid-template-columns: 4fr 5fr;
    height: 80vh;
  }
  .about-section .text-section .title {
    margin-top: 15%;
    font-size: 2.75rem;
  }
  .about-section .text-section .text {
    font-size: .9rem;
  }
  .contact-section .contact-form {
    width: 45vw;
  }
  .large-footer {
    padding: 10vh 12.5vw 0 12.5vw;
  }
}

@media screen and (max-width: 1272px) {
  .about-section {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .about-section .image-section .logo {
    top: 0;
  }
}

@media screen and (max-width: 1148px) {
  .home-header .text-container {
    height: 40vh;
  }
  .home-header .text-container .small-heading {
    font-size: 1rem;
  }
  .home-header .text-container .big-heading {
    font-size: 4rem;
  }
  .work .carousel {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 73vw;
    height: 90vh;
  }
  .work .carousel .carousel-image {
    width: calc(0.45 * 50vw);
    height: calc((0.45 * 50vw) * 1.25);
  }
  .work .carousel .carousel-image:nth-child(n+4) {
    margin-top: -3em;
  }
  .work .carousel .carousel-image:nth-child(4) {
    margin-left: 0;
  }
  .work .carousel .carousel-image:hover {
    width: calc(0.475 * 50vw);
    height: calc((0.475 * 50vw) * 1.25);
    margin-top: 0;
  }
  .work .carousel .btn {
    position: absolute;
    bottom: 1em;
  }
}
/*# sourceMappingURL=main.css.map */