// VARIABLES
$darkGrey: #333333;
$primary: #4793A3;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background: #fff;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

// ANIMATIONS
@keyframes sweep {

    from {
        opacity: 0;
        margin-top: -10px;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }

}

//////// SCROLLBAR STYLES ////////
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: $primary;
}

//////// NAVBAR STYLES ////////

.navbar {
    height: 80px;
    width: 100vw;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    background: #fff;
    padding: 0 5vw;
    display:flex;
    justify-content: space-between;
    border-top: 5px solid $primary;
    position:fixed;
    top:0;
    left: 0;
    z-index: 3;

    .navbar-brand {
        width: 100px;
        height: 50px;
        position: relative;
        top:50%;
        transform:translateY(-50%);
    }

    .nav-list {
        height: 80px;
        list-style: none;
        display:flex;

        .nav-item {
            line-height: 80px;
            
            &:not(:last-of-type) {
                margin-right: 1.5em;
            }

            .nav-link {
                text-decoration: none;
                color: $darkGrey;
                font-size: .85rem;
                font-weight: bold;
                cursor: pointer;
                transition: color .3s ease-in-out;

                &:hover {
                    color: $primary;
                }

                &.active {
                    color: $primary;
                    cursor: default;
                }
            }
        }
    }

    .menu-icon {
        color: $darkGrey;
        line-height: 80px;
        cursor: pointer;
        font-size: 1.25rem;
        display: none;
    }
}

//////// MOBILE MENU STYLES ////////

.mobile-menu {
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255, 0.95);
    position: fixed;
    left:0;
    top:0;
    z-index: 5;
    display:none;

    .close-icon {
        color: $darkGrey;
        font-size: 2rem;
        position:absolute;
        right: 5vw;
        top: 6vh;
    }

    .nav-list {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        list-style: none;

        .nav-item {
            margin: 1em 0;

            .nav-link {
                text-transform:uppercase;
                color: $darkGrey;
                text-decoration: none;
                font-weight: bold;
                letter-spacing: 0.5px;
                cursor: pointer;

                &.active {
                    color: $primary;
                }
            }
        }
    }
}
//////// HEADER (HOME) STYLES ////////

.home-header {
    height: 70vh;
    margin-top: 80px;
    width: 100vw;
    position:relative;
    background: url('../img/pattern-bg.png') center/cover no-repeat;

    .text-container {
        height: 50vh;
        position:absolute; 
        top:50%;
        left: 50%;
        transform:translate(-50%, -50%);
        text-align:center;

        .small-heading {
            font-weight: 500;
            text-transform:uppercase;
            color: $darkGrey;
            font-size: 1.25rem;
            margin-bottom: .5em;

            .blue {
                color: $primary;
                font-weight: bold;
            }
        }

        .big-heading {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 6rem;
            transform: scale(1.2, 1.25);
            color: $darkGrey;
            letter-spacing: -6px;

            &.primary {
                color: $primary;
                position:relative;
                top: -10px;
            }
        }

        .btn {
            position:relative;
            top: 1em;
        }
    }

    .camera {
        position:absolute;
        bottom: -50px;
        left:50%;
        transform: translateX(-50%);
        width: 175px;
    }
}

//////// BUTTON STYLES ////////

.btn {
    padding: 8px 24px;
    border-radius: 20px;
    text-decoration: none;
    transition: background .33s ease-in-out, color .33s ease-in-out;
    border: 2px solid;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .75rem;

    &.primary {
        border-color: $primary;
        color: $primary;

        &:hover {
            background: $primary;
            color: #fff;
        }
    }

    &.light {
        background: #fff;
        color: $darkGrey;
        border: none;
        padding: 12px 28px;
        cursor: pointer;

        &:hover {
            background: #ccc;
        }
    }

    &.primary-filled {
        color: #fff;
        background: $primary;
        border: none;
        padding: 12px 28px;

        &:hover {
            background: lighten($primary, 10%);
        }
    }
}

//////// WORK (HOME) STYLES ////////

.work {
    background: url('../img/our-work-bg.png') center/cover no-repeat fixed;
    width: 100vw;
    padding: 6em 0;

    .work-heading {
        color: #ffffff;
        text-transform: uppercase;
        text-align:center;
        width: 650px;
        position: relative;
        left:50%;
        transform:translateX(-50%);
        font-size: 1.85rem;
        letter-spacing: -1px;
    }

    .divider {
        width: 175px;
        background: #fff;
        height: 3px;
        margin: 1.5em auto;
    }

    .text {
        font-size: 1.1rem;
        color: #eee;
        width: 550px;
        text-align:center;
        margin: 0 auto;
        line-height: 1.5em;
    }

    .carousel {
        width: 80vw;
        position:relative;
        margin: 3em auto 0 auto;
        height: 40vh;
        display:flex;

        .carousel-image {
            transition: .5s ease-in-out;
            position: relative;
            width: calc(0.25 * 50vw);
            height: calc((0.25 * 50vw) * 1.25);
            
            &:not(:first-of-type) {
                margin-left: 1.2em;
            }

            &:hover {
                width: calc(0.3 * 50vw);
                height: calc((0.3 * 50vw) * 1.25);
                margin-top: -25px;
            }
        }
    }

    .btn {
        position:relative;
        left: calc(50% - 60px);
        transform:translateX(-50%);
    }
}

//////// ABOUT (HOME) STYLES ////////

.about-section {
    height: 92vh;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 2fr 3fr;

    .text-section {
        width: 100%;
        height: 100%;
        background: url('../img/pattern-bg.png') center/cover no-repeat;

        .title {
            color: $darkGrey;
            text-transform: uppercase;
            font-size: 3rem;
            text-align:center;
            margin-top: 25%;

            .primary {
                color: $primary;
            }
        }

        .text {
            width:47.5%;
            text-align:center;
            margin: 2em auto 3em auto;
            line-height: 1.75;
            color: lighten($darkGrey, 10%);
            font-weight: lighter;
        }

        .btn {
            position:relative;
            left: calc(50% - 65px);
            transform:translateX(-50%);
        }
    }

    .image-section {
        height: 100%;
        width: 100%;

        .logo {
            width: 100%;
            height: 100%;
            position: relative;
            top: -200px;
        }

    }
}

//////// CONTACT (HOME) STYLES ////////

.contact-section {
    background: url('../img/our-work-bg.png') center/cover no-repeat fixed;
    width: 100vw;
    padding: 6em 0;

    .title {
        color: #fff;
        text-align:center;
        font-size: 2.25rem;
        margin-bottom: 1em;
    }

    .contact-form {
        width:30vw;
        margin: 0 auto;

        .form-group {
            width: 100%;
            margin: 1.25em 0;

            &.grid {
                display:grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 1.25em;
            }

            .input {
                width: 100%;
                min-height: 45px;
                padding: 12px;
                border: none;
                border-radius: 5px;
            }

            .btn {
                position:relative;
                left:50%;
                transform:translateX(-50%);
            }
        }
    }
}

//////// FOOTER STYLES ////////

.large-footer {
    background: $darkGrey;
    padding: 10vh 20vw 0 20vw;

    .footer-grid {
        display:grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10vh;

        .email-section {

            .heading {
                color: #fff;
                font-size: 1.25rem;
                letter-spacing: -1px;
            }

            .text {
                color: #aaa;
                font-size: .75rem;
                width: 60%;
                margin: 2em 0;

                .white {
                    color: #fff;
                }
            }

            .email-input {
                width: 200px;
                height: 30px;
                background: transparent;
                border: 1px solid #aaa;
                padding-left: 12px;
            }

            .email-btn {
                width: 75px;
                color: #fff;
                background: $primary;
                height: 30px;
                border: 1px solid $primary;
                text-transform:uppercase;
                cursor: pointer;
                transition: .3s ease-in-out;
                
                &:hover {
                    background: lighten($primary, 10%);
                }
            }
        }

        .lists-section {
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;

            .list-container {

                .heading {
                    color: #fff;
                    font-size: 1rem;
                    letter-spacing: -0.05px;
                    margin-bottom: 12px;
                }

                .list {
                    list-style: none;

                    .list-item {
                        margin-bottom: 12px;

                        .list-link {
                            color: #aaa;
                            font-size: .75rem;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .footer-small-section {
        display:flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;
        border-top: 2px solid #444;

        .copyright, .affiliate-disclosure {
            color: #aaa;
            font-size: 0.85rem;
        }

        .icon-list {
            display:flex;
            list-style: none;

            .icon-container {
                margin: .75em;

                .icon {
                    background: #bbb;
                    padding: 12px;
                    border-radius: 50%;
                    color: $darkGrey;
                    text-decoration: none;
                    transition: .3s ease-in-out;

                    &:hover {
                        background: #ddd;
                    }
                }
            }
        }
    }
}

//////// HEADER (ABOUT) STYLES ////////

.about-header {
    height: 50vh;
    margin-top: 80px;
    background: url('../img/BG.png') center/cover no-repeat fixed;
    position: relative;

    .page-title {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 4.5rem;
        color: #fff;
        letter-spacing: -3px;
        position:absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align:center;
    }
}

//////// ABOUT SECTION (ABOUT) STYLES ////////

.introduction {
    padding: 0 20vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 80vh;
    background: url('../img/pattern-bg.png') center/cover no-repeat;
    position:relative;
    overflow: hidden;
    
    .text-section {
        display:flex;
        flex-direction: column;
        justify-content: center;

        .title {
            color: $darkGrey;
            font-size: 1.85vw;
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: -1px;
            margin-bottom: 1em;

            .primary {
                color: $primary;
            }
        }

        .about-text {
            width:80%;
            text-align:left;
            line-height: 1.75;
            color: lighten($darkGrey, 10%);
            font-weight: lighter;
            margin-bottom: 2.5em;
            font-size: 1vw;
        }

        .btn {
            padding: 12px 54px;
            width: 180px;
        }
    }

    .adam-img {
        width: 30vw;
        position:absolute;
        bottom:0;
        right: 20vw;
    }
}

//////// GET IN TOUCH SECTION (ABOUT) STYLES ////////

.get-in-touch {
    height: 80vh;
    background: url('../img/BG 2.png') center/cover no-repeat fixed;
    padding: 10vh 0;

    .title {
        color: #fff;
        text-transform:uppercase;
        font-weight: 700;
        font-size: 3rem;
        text-align:center;
        letter-spacing: 5px;
        margin-bottom: 7vh;
    }

    .grid {
        background: #fff;
        width: 50vw;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
        height: 60%;

        .box {
            width: 100%;
            color: #fff;
            position:relative;

            .icon {
                position:absolute;
                top:40%;
                left:50%;
                transform:translate(-50%, -50%);
                font-size: 3rem;
            }

            .text {
                font-style: italic;
                font-size: 1.15rem;
                position:absolute;
                top:60%;
                transform:translate(-50%, -50%);
                left:50%;
                min-width: 200px;
                text-align:center;

                .link {
                    color: #fff;
                }
            }

            &.one {
                background: #eee;
                color: $darkGrey;
            }

            &.two {
                background: url('../img/box-bg.jpg') center/cover no-repeat;
            }

            &.three {
                background: url('../img/box-bg-2.jpg') center/cover no-repeat;
            }
        }
    }

    .btn {
        position:relative;
        left:50%;
        top: 7vh;
        transform: translateX(-50%);
    }
}

//////// HEADER WITH DIVIDER STYLES ////////

.header-w-divider {
    height: 40vh;
    margin-top: 80px;
    background: url('../img/our-work-bg.png') center/cover no-repeat fixed;
    border-bottom: 2px solid #fff;
    position:relative;

    .page-title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 3.25rem;
        color: #fff;
        letter-spacing: 2px;
        position:relative;
        left: 50%;
        top:40%;
        transform: translate(-50%, -50%);
        text-align:center;
    }

    .divider {
        height: 3.5px;
        width: 200px;
        background: #fff;
        position:relative;
        top: 40%;
        left:50%;
        transform:translate(-50%, -50%);
    }

    .header-img {
        position:absolute;
        left:50%;
        transform:translateX(-50%);
        bottom: -50px;

        &.lens {
            width: 100px;
            bottom: -75px;
        }

        &.mac {
            width: 175px;
        }
    }
}

//////// SERVICES SECTION (SERVICES) STYLES ////////

.services-section {
    padding: 15vh 10vw;
    background: url('../img/setup-background.jpg') center/cover no-repeat fixed;
    width: 100vw;

    .grid {
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1.6em;

        .service {
            background: #fff;
            padding: 7.5%;

            .service-title {
                text-transform: uppercase;
                color: $darkGrey;
                letter-spacing: 2px;
                font-size: 1.5rem;
                text-align:center;
            }

            .divider {
                width: 100%;
                height: 3px;
                background: $primary;
                margin: 5% 0;
            }

            .desc {
                width: 95%;
                color: lighten($darkGrey, 10%);
                line-height: 1.5;
                margin-bottom: 5%;
                text-align:center;
            }

            .service-img {
                width: 100%;
                margin: 0 auto;
            }
        }
    }

    .btn {
        position:relative;
        top: 5em;
        left: 50%;
        width: 200px;
        margin-left: -70px;
    }
}

//////// LATEST WORK SECTION (PORTFOLIO) STYLES ////////

.latest-work-section {
    background: url('../img/pattern-bg.png') center/cover no-repeat fixed;
    padding: 15vh 5vw;

    .content {

        .title {
            color: $darkGrey;
            text-align:center;
            font-size: 2rem;
        }

        .desc {
            font-size: .85rem;
            color: lighten($darkGrey, 10%);
            width: 29%;
            text-align:center;
            margin: 1em auto;
            line-height: 1.5em;
        }

        .btn {
            position:relative;
            left: calc(50% - 70px);
            top: 1.5em;
            transform:translateX(-50%);
        }
    }

    .work-grid {
        margin-top: 5em;
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5em;
        
        .work-img {
            width: 100%;
            cursor: pointer;

            &:hover {
                opacity: .75;
            }

            &.active {
                width: 30vw;
                position: fixed;
                left:50%;
                top:50%;
                transform:translate(-50%, -45%);
                cursor: default;
                z-index: 4;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .overlay {
        width:100vw;
        height: 100vh;
        background: rgba(0,0,0,0.75);
        position: fixed;
        top:0;
        left:0;
        z-index: 3;
        display: none;
    }
}

//////// FAQ SECTION (FAQ) STYLES ////////

.faq-section {
    background: url('../img/pattern-bg.png') center/cover no-repeat fixed;
    padding: 15vh 25vw;

    .question-title {
        color: rgba($darkGrey, 0.75);
        font-size: 2rem;
        background: rgba(195,195,195,0.65);
        padding: .5em 1em;
        margin-bottom: 1em;
        cursor: pointer;
        transition: .3s ease-in-out;
        outline: none;

        &:hover {
            background: rgba(175,175,175,0.65);
            box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
        }

        &:focus {
            background: rgba(165,165,165,0.65);
        }

        span {
            font-weight: normal;
        }
    }

    .question-content {
        color: lighten($darkGrey, 25%);
        font-size: 1.5rem;
        padding-left: 1em;
        width: 95%;
        line-height: 1.25;
        padding-bottom: 3em;
        
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .btn {
        position:relative;
        top: 5em;
        left: calc(50% - 70px);
        transform: translateX(-50%);
    }

    details[open] summary ~ * {
        animation: sweep .4s ease-in-out;
    }
}

//////// TESTIMONIALS SECTION (TESTIMONIALS) STYLES ////////

.testimonials-section {
    background: rgb(47,47,43);
    background: -moz-radial-gradient(circle, rgba(47,47,43,1) 0%, rgba(23,23,22,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(47,47,43,1) 0%, rgba(23,23,22,1) 100%);
    background: radial-gradient(circle, rgba(47,47,43,1) 0%, rgba(23,23,22,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f2f2b",endColorstr="#171716",GradientType=1);
    padding: 10em 25vw 7.5em 25vw;
    border-bottom: 2px solid #fff;

    .grid {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1.5em;

        .testimonial-box {
            width: 100%;
            position:relative;
            display: flex;
            flex-direction: column;
            padding: 3.5em 0 7em 0;

            .name {
                z-index: 1;
                font-size: 1.1rem;
                margin-bottom: 2em;
                text-align:center;
                color: #FF6161;
            }

            .text {
                color: #fff;
                font-style: italic;
                z-index: 1;
                font-weight: lighter;
                text-align:center;
                width: 75%;
                margin: 0 auto;
                letter-spacing: 1px;
                line-height: 2;
                opacity: .95;
                font-size: 1rem;
                font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
            }

            .quote-icon {
                color: #fff;
                z-index: 1;
                position:absolute;
                bottom: 1.5em;
                left:50%;
                transform:translateX(-50%);
                font-size: 2rem;
                color: #FF6161;
            }

            &.first::before, &.secnd::before, &.third::before {
                content: "";
                background-image: url('../img/testimonials/1.jpg');
                background-size: cover;
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                filter: brightness(0.65);
                z-index: 0;
            }

            &.secnd::before {
                background-image: url('../img/testimonials/2.jpg');
            }

            &.third::before {
                background-image: url('../img/testimonials/3.jpg');
            }
        }
    }

    .large-text {
        font-weight: 900;
        width: 80%;
        margin: 1em auto;
        color: #575757;
        font-size: 3rem;
        text-align:center;
        letter-spacing: 3px;
        text-shadow: 0px 0px 30px rgba(0,0,0,0.5);
    }

    .btn {
        position:absolute;
        left:50%;
        transform:translateX(-50%);
    }
}

// Reponsive Media Queries
@media screen and (max-width:1392px) {

    .home-header {

        .text-container {
            height: 45vh;

            .small-heading {
                font-size: 1.1rem;
            }

            .big-heading {
                font-size: 5rem;
            }
        }

    }

    .work {

        .work-heading {
            font-size: 1.65rem;
        }

        .text {
            font-size: 1rem;
        }

        .carousel {
            width: 90vw;

            .carousel-image {
                width: calc(0.275 * 50vw);
                height: calc((0.275 * 50vw) * 1.25);

                &:hover {
                    width: calc(0.275 * 50vw);
                    height: calc((0.275 * 50vw) * 1.25);
                }
            }
        }

    }

    .about-section {
        grid-template-columns: 4fr 5fr;
        height: 80vh;

        .text-section {

            .title {
                margin-top: 15%;
                font-size: 2.75rem;
            }

            .text {
                font-size: .9rem;
            }

        }
    }

    .contact-section {

        .contact-form {
            width: 45vw;
        }

    }

    .large-footer {
        padding: 10vh 12.5vw 0 12.5vw;
    }

    .introduction  {
        padding: 0 15vw;

        .text-section {

            .title {
                font-size: 1.75rem;
            }

            .about-text {
                font-size: 1rem;
            }
        }

        .adam-img {
            right: 10%;
            width: 35%;
        }
    }

    .get-in-touch {

        .title {
            font-size: 2.5rem;
            letter-spacing: 4px;
        }

        .grid {
            width: 70vw;
        }
    }

    .faq-section {
        padding: 15vh 20vw;
    }

    .testimonials-section {
        padding: 10em 17.5vw 7.5em 17.5vw;
    }
}

@media screen and (max-width: 1272px) {

    .about-section {
        grid-template-columns: 1fr 1fr;

        .image-section {
            .logo {
                top: 0;
            }
        }
    }

    .services-section {
        .grid {
            .service {
                .service-title {
                    font-size: 1.25rem;
                }

                .desc {
                    font-size: .85rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1148px) {

    .home-header {

        .text-container {
            height: 40vh;

            .small-heading {
                font-size: 1rem;
            }

            .big-heading {
                font-size: 4rem;
            }
        }

    }


    .work {

        .carousel {
            flex-wrap: wrap;
            width: 73vw;
            height: 90vh;

            .carousel-image {
                width: calc(0.45 * 50vw);
                height: calc((0.45 * 50vw) * 1.25);

                &:nth-child(n+4) {
                    margin-top: -3em;
                }

                &:nth-child(4) {
                    margin-left: 0;
                }

                &:hover {
                    width: calc(0.45 * 50vw);
                    height: calc((0.45 * 50vw) * 1.25);
                    margin-top: 0;
                }
            }

            .btn {
                position:absolute;
                bottom: 1em;
            }
        }
    }

    .contact-section {
        .contact-form {
            width: 60vw;
        }
    }

    .introduction {
        padding: 0 5vw;

        .text-section {
            width: 75%;
        }

        .adam-img {
            width: 40%;
        }
    }

    .services-section {
        padding: 15vh 5vw;

        .grid {
            column-gap: 1.25em;
        }
    }

    .faq-section {
        padding: 15vh 10vw;
    }

    .testimonials-section {
        padding: 10em 12.5vw 7.5em 12.5vw;
    }
}

@media screen and (max-width:1040px) {

    .navbar {

        .nav-list {
            display:none;
        }

        .menu-icon {
            display: block;
        }
    }

    .about-header {
        .page-title {
            font-size: 3rem;
        }
    }

    .introduction {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70vh;

        .text-section {

            .title {
                text-align:center;
            }

            .about-text {
                text-align:center;
                margin: 0 auto 2em auto;
            }

            .btn {
                margin: 0 auto;
            }
        }
        .adam-img {
            display:none;
        }
    }

    .get-in-touch {

        .grid {
            width: 90vw;
        }

    }

    .header-w-divider {
        .page-title {
            font-size: 3rem;
        }
    }

    .services-section {
        padding: 15vh 15vw;

        .grid {
            grid-template-columns: 1fr 1fr;
            gap: 4em;
            
            .service {
                width: 100%;
                margin: 0 auto;
            }
        }
    }

    .latest-work-section {

        .content {

            .desc {
                width:50%;
            }

        }

        .work-grid {
            grid-template-columns: 1fr 1fr 1fr;

            .work-img {

                &.active {
                    width: 40vw;
                }
            }
        }
    }

    .testimonials-section {
        padding: 10em 5vw 7.5em 5vw;
    }
}

@media screen and (max-width: 948px) {

    .work {

        .carousel {
            height: 80vh;
            width: 53vw;
            min-width: 500px;

            .carousel-image {
                width: calc(0.5 * 50vw);
                min-width: 236px;
                height: calc((0.5 * 50vw) * 1.25);
                min-height: 294px;

                &:nth-child(n+5) {
                    display:none;
                }

                &:nth-child(3) {
                    margin-left:0;
                }

                &:nth-child(4) {
                    margin-left: 1.2em;
                    margin-top: 0;
                }
            }
        }
    }

    .about-section {
        display:block;
        height: 70vh;

        .image-section {
            display:none;
        }

        .text-section {
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .title {
                margin: 0;
            }

            .btn {
                position: relative;
                left: 0;
                transform: none;
            }
        }
    }

    .contact-section {

        .contact-form {

            .form-group.grid {
                grid-template-columns: 1fr;

                .input:nth-child(2) {
                    margin-top: 1.25em;
                }
            }
        }
    }

    .large-footer {
        padding: 10vh 7.5vw 0 7.5vw;

        .footer-small-section {

            .icon-list {

                .icon-container {

                    .icon {
                        padding: 8px;
                        font-size: .85rem;
                    }
                }
            }
        }
    }

    .services-section {
        padding: 15vh 10vw;

        .grid { 
            gap: 2em;
        }
    }
}

@media screen and (max-width:884px) {

    .home-header {

        .text-container {

            .small-heading {
                font-size: 1rem;
            }

            .big-heading {
                font-size: 3rem;
                letter-spacing: -2.5px;
                margin: .25em 0;
            }
        }
    }

    .large-footer {

        .footer-grid {
            grid-template-columns: 1fr;
            margin-bottom: 10vh;
            row-gap: 10vh;

            .email-section {
                text-align:center;

                .text {
                    margin: 2em auto;
                    width: 50%;
                    font-size: .8rem;
                    line-height: 1.5;
                }
            }

            .lists-section {
                
                .list-container {
                    text-align:center;

                    .heading {
                        font-size: 1.15rem;
                    }

                    .list .list-item .list-link {
                        font-size: .8rem;
                    }
                }
            }
        }

        .footer-small-section {
            flex-direction: column-reverse;
            height: 250px;
            padding: 50px 0;
        }

    }

    .get-in-touch {
        height: auto;
        padding-bottom: 15vh;

        .grid {
            grid-template-columns: 1fr;
            width: 50vw;
        }
        .box {
            height: 30vh;
        }
    }

    .header-w-divider {
        .page-title {
            font-size: 2.5rem;
        }
    }

    .faq-section {

        .question-title {
            font-size: 1.5rem;
            text-align:center;
        }

        .question-content {
            font-size: 1rem;
        }
    }

    .testimonials-section {
        
        .grid {
            grid-template-columns: 1fr;
            row-gap: 2em;

            .testimonial-box {
                width:50%;
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 712px) {

    .home-header {
        min-height: 650px;

        .text-container {
            height: 50vh;

            .small-heading {
                font-size: 1.25rem;
            }

            .big-heading {
                font-size: 4.5rem;
                letter-spacing: -4px;
                line-height: 1;

                &.primary {
                    margin-top: 40px;
                }

                &:first-of-type {
                    margin-top: .5em;
                }
            }
        }

        .camera {
            width: 20vw;
        }
    }

    .work {

        .work-heading {
            width: 60vw;
        }

        .text {
            width: 60vw;
        }

        .carousel {
            min-width: 237px;
            width: 237px;
            height: 120vh;
            min-height: 1000px;

            .carousel-image {

                &:nth-child(n+2) {
                    margin: 0;
                }

                &:nth-child(4) {
                    display:none;
                }

            }
        }
    }

    .about-section {
        min-height: 600px;
    }

    .large-footer {

        .footer-grid {

            .lists-section {
                grid-template-columns: 1fr;
                row-gap: 40px;
            }
        }
    }

    .introduction {
        height: 100vh;
    }

    .header-w-divider {
        .page-title {
            font-size: 2.75rem;
            width:75%;
        }
    }

    .services-section {

        .grid {
            grid-template-columns: 1fr;

            .service {
                width: 60%;
            }
        }
    }

    .latest-work-section {

        .work-grid {
            grid-template-columns: 1fr 1fr;

            .work-img {

                &.active {
                    width: 60vw;
                }
            }
        }
    }
}

@media screen and (max-width: 548px) {

    .navbar {
        height: 100px;

        .menu-icon {
            line-height: 100px;
        }
    }

    .home-header { 
        min-height: 500px;
        height: 50vh;

        .text-container {
            width: 80vw;
            height: 30vh;

            .small-heading {
                font-size: 1rem;
            }

            .big-heading {
                font-size: 3rem;
                width: 100%;
            }
        }

        .camera {
            width: 22.5vw;
            min-width: 105px;
        }
    }

    .about-section {
        min-height: 750px;
        
        .text-section {

            .title {
                font-size: 2rem;
            }

            .text {
                font-size: .8rem;
            }
        }
    }

    .about-header {
        .page-title {
            font-size: 2.5rem;
        }
    }

    .introduction {
        height: 120vh;
    }

    .get-in-touch {

        .title {
            font-size: 1.75rem;
            letter-spacing: 2.5px;
        }

        .grid  {
            width: 75vw;

            .box {

                .text {
                    font-size: 1rem;
                }
            }
        }
    }

    .services-section {
        padding: 15vh 15vw;

        .grid {

            .service {
                width: 100%;
            }
        }
    }

    .header-w-divider {
        height: 50vh;

        .divider {
            top: 30%;
        }

        .page-title {
            width:100%;
        }
    }

    .latest-work-section {
        padding-left: 15vw;
        padding-right: 15vw;

        .content {

            .desc {
                width:100%;
            }

        }
        
        .work-grid {
            grid-template-columns: 1fr;
        }
    }

    .testimonials-section {
        
        .grid {

            .testimonial-box {
                width:75%;
            }
        }
    }
}