@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #fff;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@-webkit-keyframes sweep {
  from {
    opacity: 0;
    margin-top: -10px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes sweep {
  from {
    opacity: 0;
    margin-top: -10px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #4793A3;
}

.navbar {
  height: 80px;
  width: 100vw;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  background: #fff;
  padding: 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 5px solid #4793A3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.navbar .navbar-brand {
  width: 100px;
  height: 50px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar .nav-list {
  height: 80px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-list .nav-item {
  line-height: 80px;
  position: relative;
}

.navbar .nav-list .nav-item:not(:last-of-type) {
  margin-right: 1.5em;
}

.navbar .nav-list .nav-item .nav-link,
.navbar .nav-list .nav-item .dropdown .dropdown-link {
  text-decoration: none;
  color: #333333;
  font-size: .85rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.navbar .nav-list .nav-item .nav-link:hover,
.navbar .nav-list .nav-item .dropdown .dropdown-link:hover {
  color: #4793A3;
}

.navbar .nav-list .nav-item .nav-link.active,
.navbar .nav-list .nav-item .dropdown .dropdown-link.active {
  color: #4793A3;
  cursor: default;
}

.navbar .nav-list .nav-item .dropdown {
  width: 200%;
  height: 150px;
  background: #fff;
  position: absolute;
  bottom: -145px;
  left: -50%;
  line-height: 1em;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 5px 5px;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  visibility: hidden;
}

.navbar .nav-list .nav-item.portfolio-nav-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.navbar .menu-icon {
  color: #333333;
  line-height: 80px;
  cursor: pointer;
  font-size: 1.25rem;
  display: none;
}

.mobile-menu {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  display: none;
}

.mobile-menu .close-icon {
  color: #333333;
  font-size: 2rem;
  position: absolute;
  right: 5vw;
  top: 6vh;
}

.mobile-menu .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  list-style: none;
}

.mobile-menu .nav-list .nav-item {
  margin: 1em 0;
}

.mobile-menu .nav-list .nav-item .nav-link {
  text-transform: uppercase;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.mobile-menu .nav-list .nav-item .nav-link.active {
  color: #4793A3;
}

.home-header {
  height: 70vh;
  margin-top: 80px;
  width: 100vw;
  position: relative;
  background: url("../img/pattern-bg.png") center/cover no-repeat;
}

.home-header .text-container {
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.home-header .text-container .small-heading {
  font-weight: 500;
  text-transform: uppercase;
  color: #333333;
  font-size: 1.25rem;
  margin-bottom: .5em;
}

.home-header .text-container .small-heading .blue {
  color: #4793A3;
  font-weight: bold;
}

.home-header .text-container .big-heading {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 6rem;
  -webkit-transform: scale(1.2, 1.25);
          transform: scale(1.2, 1.25);
  color: #333333;
  letter-spacing: -6px;
}

.home-header .text-container .big-heading.primary {
  color: #4793A3;
  position: relative;
  top: -10px;
}

.home-header .text-container .btn {
  position: relative;
  top: 1em;
}

.home-header .camera {
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 175px;
}

.btn {
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration: none;
  -webkit-transition: background .33s ease-in-out, color .33s ease-in-out;
  transition: background .33s ease-in-out, color .33s ease-in-out;
  border: 2px solid;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .75rem;
}

.btn.primary {
  border-color: #4793A3;
  color: #4793A3;
}

.btn.primary:hover {
  background: #4793A3;
  color: #fff;
}

.btn.light {
  background: #fff;
  color: #333333;
  border: none;
  padding: 12px 28px;
  cursor: pointer;
}

.btn.light:hover {
  background: #ccc;
}

.btn.primary-filled {
  color: #fff;
  background: #4793A3;
  border: none;
  padding: 12px 28px;
}

.btn.primary-filled:hover {
  background: #62abbb;
}

.work {
  background: url("../img/our-work-bg.png") center/cover no-repeat fixed;
  width: 100vw;
  padding: 6em 0;
}

.work .work-heading {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  width: 650px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.85rem;
  letter-spacing: -1px;
}

.work .divider {
  width: 175px;
  background: #fff;
  height: 3px;
  margin: 1.5em auto;
}

.work .text {
  font-size: 1.1rem;
  color: #eee;
  width: 550px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5em;
}

.work .carousel {
  width: 80vw;
  position: relative;
  margin: 3em auto 0 auto;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work .carousel .carousel-image {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  position: relative;
  width: calc(0.25 * 50vw);
  height: calc((0.25 * 50vw) * 1.25);
  /*&:hover {
                width: calc(0.3 * 50vw);
                height: calc((0.3 * 50vw) * 1.25);
                margin-top: -25px;
            }*/
}

.work .carousel .carousel-image:not(:first-of-type) {
  margin-left: 1.2em;
}

.work .carousel .carousel-image:hover {
  -webkit-filter: brightness(1.4) contrast(110%);
          filter: brightness(1.4) contrast(110%);
}

.work .btn {
  position: relative;
  left: calc(50% - 60px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about-section {
  height: 92vh;
  overflow-y: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background: url("../img/pattern-bg.png") center/cover no-repeat;
}

.about-section .text-section {
  width: 100%;
  height: 100%;
}

.about-section .text-section .title {
  color: #333333;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  margin-top: 25%;
}

.about-section .text-section .title .primary {
  color: #4793A3;
}

.about-section .text-section .text {
  width: 47.5%;
  text-align: center;
  margin: 2em auto 3em auto;
  line-height: 1.75;
  color: #4d4d4d;
  font-weight: lighter;
}

.about-section .text-section .btn {
  position: relative;
  left: calc(50% - 65px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about-section .image-section {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about-section .image-section .logo {
  height: 92vh;
  max-width: 50vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-section {
  background: url("../img/our-work-bg.png") center/cover no-repeat fixed;
  width: 100vw;
  padding: 9em 0;
}

.contact-section .title {
  color: #fff;
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 1em;
}

.contact-section .contact-form {
  width: 30vw;
  margin: 0 auto;
}

.contact-section .contact-form .form-group {
  width: 100%;
  margin: 1.25em 0;
}

.contact-section .contact-form .form-group.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 1.25em;
          column-gap: 1.25em;
}

.contact-section .contact-form .form-group .input {
  width: 100%;
  min-height: 45px;
  padding: 12px;
  border: none;
  border-radius: 5px;
}

.contact-section .contact-form .form-group .btn {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.large-footer {
  background: #333333;
  padding: 10vh 20vw 0 20vw;
}

.large-footer .footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 10vh;
}

.large-footer .footer-grid .email-section .heading {
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: -1px;
}

.large-footer .footer-grid .email-section .text {
  color: #aaa;
  font-size: .75rem;
  width: 60%;
  margin: 2em 0;
}

.large-footer .footer-grid .email-section .text .white {
  color: #fff;
}

.large-footer .footer-grid .email-section .email-input {
  width: 200px;
  height: 30px;
  background: transparent;
  border: 1px solid #aaa;
  padding-left: 12px;
  color: #fff;
}

.large-footer .footer-grid .email-section .email-btn {
  width: 75px;
  color: #fff;
  background: #4793A3;
  height: 30px;
  border: 1px solid #4793A3;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.large-footer .footer-grid .email-section .email-btn:hover {
  background: #62abbb;
}

.large-footer .footer-grid .lists-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.large-footer .footer-grid .lists-section .list-container .heading {
  color: #fff;
  font-size: 1rem;
  letter-spacing: -0.05px;
  margin-bottom: 12px;
}

.large-footer .footer-grid .lists-section .list-container .list {
  list-style: none;
}

.large-footer .footer-grid .lists-section .list-container .list .list-item {
  margin-bottom: 12px;
}

.large-footer .footer-grid .lists-section .list-container .list .list-item .list-link {
  color: #aaa;
  font-size: .75rem;
  text-decoration: none;
}

.large-footer .footer-small-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #444;
}

.large-footer .footer-small-section .copyright,
.large-footer .footer-small-section .affiliate-disclosure {
  color: #aaa;
  font-size: 0.85rem;
}

.large-footer .footer-small-section .icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.large-footer .footer-small-section .icon-list .icon-container {
  margin: .75em;
}

.large-footer .footer-small-section .icon-list .icon-container .icon {
  background: #bbb;
  padding: 12px;
  border-radius: 50%;
  color: #333333;
  text-decoration: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.large-footer .footer-small-section .icon-list .icon-container .icon:hover {
  background: #ddd;
}

.about-header {
  height: 50vh;
  margin-top: 80px;
  background: url("../img/BG.png") center/cover no-repeat fixed;
  position: relative;
}

.about-header .page-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4.5rem;
  color: #fff;
  letter-spacing: -3px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.introduction {
  padding: 0 20vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  height: 80vh;
  background: url("../img/pattern-bg.png") center/cover no-repeat;
  position: relative;
  overflow: hidden;
}

.introduction .text-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.introduction .text-section .title {
  color: #333333;
  font-size: 1.85vw;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 1em;
}

.introduction .text-section .title .primary {
  color: #4793A3;
}

.introduction .text-section .about-text {
  width: 80%;
  text-align: left;
  line-height: 1.75;
  color: #4d4d4d;
  font-weight: lighter;
  margin-bottom: 2.5em;
  font-size: 1vw;
}

.introduction .text-section .btn {
  padding: 12px 54px;
  width: 180px;
}

.introduction .adam-img {
  width: 30vw;
  position: absolute;
  bottom: 0;
  right: 20vw;
}

.get-in-touch {
  height: 80vh;
  background: url("../img/BG 2.png") center/cover no-repeat fixed;
  padding: 10vh 0;
  text-align: center;
}

.get-in-touch .title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 7vh;
}

.get-in-touch .grid {
  background: #fff;
  width: 50vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  height: 60%;
}

.get-in-touch .grid .box {
  width: 100%;
  color: #fff;
  position: relative;
}

.get-in-touch .grid .box .icon {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3rem;
}

.get-in-touch .grid .box .text {
  font-style: italic;
  font-size: 1.15rem;
  position: absolute;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  min-width: 200px;
  text-align: center;
}

.get-in-touch .grid .box .text .link {
  color: #fff;
}

.get-in-touch .grid .box.one {
  background: #eee;
  color: #333333;
}

.get-in-touch .grid .box.two {
  background: url("../img/box-bg.jpg") center/cover no-repeat;
}

.get-in-touch .grid .box.three {
  background: url("../img/box-bg-2.jpg") center/cover no-repeat;
}

.get-in-touch .btn {
  position: relative;
  top: 7vh;
}

.header-w-divider {
  height: 40vh;
  margin-top: 80px;
  background: url("../img/our-work-bg.png") center/cover no-repeat fixed;
  border-bottom: 2px solid #fff;
  position: relative;
}

.header-w-divider.portraits-bg {
  background: url("../img/People & Events (formerly portraits page)/HEADER.jpeg") center/cover no-repeat fixed;
}

.header-w-divider.plates-bg {
  background: url("../img/work/Category Images/header-plates.jpg");
}

.header-w-divider.products-bg {
  background: url("../img/work/Category Images/header-products.jpg");
}

.header-w-divider.the-ring-shop-bg {
  background: url("../img/work/Auto/Header.jpg") center/1920px no-repeat;
}

.header-w-divider.no-border {
  border-bottom: none;
}

.header-w-divider.auto-bg {
  background: url("../img/work/header.jpg") center/cover no-repeat fixed;
}

.header-w-divider .page-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.25rem;
  color: #fff;
  letter-spacing: 2px;
  position: relative;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header-w-divider .divider {
  height: 3.5px;
  width: 200px;
  background: #fff;
  position: relative;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-w-divider .header-img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -50px;
}

.header-w-divider .header-img.lens {
  width: 100px;
  bottom: -75px;
}

.header-w-divider .header-img.mac {
  width: 175px;
}

.affiliate-disclosure-section,
.coming-soon-section {
  min-height: 70vh;
  background: url("../img/our-work-bg.png") center/cover no-repeat fixed;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.affiliate-disclosure-section .title,
.coming-soon-section .title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4rem;
  text-align: center;
}

.affiliate-disclosure-section .title span,
.coming-soon-section .title span {
  color: #595959;
}

.affiliate-disclosure-section .text,
.coming-soon-section .text {
  color: #fff;
  font-size: 1rem;
  width: 27.5%;
  margin: 2em 0;
  text-align: center;
  line-height: 1.25em;
}

.coming-soon-section {
  min-height: 80vh;
}

.coming-soon-section .email-form {
  margin-top: 2em;
}

.coming-soon-section .email-form .input {
  padding: 12px 16px;
  min-width: 30vw;
}

.coming-soon-section .email-form .input::-webkit-input-placeholder {
  font-weight: bold;
  color: #333333;
}

.coming-soon-section .email-form .input:-ms-input-placeholder {
  font-weight: bold;
  color: #333333;
}

.coming-soon-section .email-form .input::-ms-input-placeholder {
  font-weight: bold;
  color: #333333;
}

.coming-soon-section .email-form .input::placeholder {
  font-weight: bold;
  color: #333333;
}

.coming-soon-section .email-form .submit-btn {
  padding: 11px 24px;
  margin-left: -12px;
  border: 2px solid #fff;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #4793A3;
}

.services-section {
  padding: 15vh 10vw;
  background: url("../img/setup-baackground-2.jpg") center/cover no-repeat fixed;
  width: 100vw;
}

.services-section .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 3em;
  width: 80vw;
}

.services-section .grid .service-box {
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
}

.services-section .grid .service-box .service-img {
  width: 30%;
  height: 100%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services-section .grid .service-box .content {
  padding: 1em;
}

.services-section .grid .service-box .content .service-heading {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.75rem;
  color: #333333;
}

.services-section .grid .service-box .content .divider {
  height: 5px;
  width: 75%;
  background: #4793A3;
  margin-bottom: 1.5em;
}

.services-section .grid .service-box .content .service-text {
  width: 90%;
  font-size: 1rem;
  line-height: 1.5em;
}

.services-section .grid .service-box .content .service-text .link {
  color: #4793A3;
  text-decoration: none;
}

.services-section .grid .service-box .content .service-text .link:hover {
  text-decoration: underline;
}

.services-section .btn {
  position: relative;
  top: 6em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-left: -70px;
}

.portfolio-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 3;
  opacity: 0;
  display: none;
}

.portfolio-popup-image {
  height: 80vh;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4;
  opacity: 0;
  display: none;
}

.case-study-container {
  background: url("../img/setup-baackground-2.jpg") center/cover no-repeat fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7.5vh 0;
}

.case-study-container .case-study-body {
  width: 60vw;
  background: #fff;
  padding: 4em;
  min-width: 1150px;
  text-align: center;
}

.case-study-container .case-study-body .title {
  color: #333333;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
}

.case-study-container .case-study-body .divider {
  background: #4793A3;
  height: 5px;
  max-width: 150px;
  width: 20%;
  margin: .6em 0 1em 0;
}

.case-study-container .case-study-body .grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.case-study-container .case-study-body .grid .text {
  width: 90%;
  color: #333333;
  line-height: 2em;
  margin-top: 2em;
  text-align: left;
}

.case-study-container .case-study-body .grid .text:not(:first-of-type) {
  margin-left: 5%;
}

.case-study-container .case-study-body .grid .text .em {
  color: #4793A3;
  font-weight: bold;
  font-size: 1.1rem;
}

.case-study-container .case-study-body .grid .text.num-4 {
  margin-top: 3.5em;
}

.case-study-container .case-study-body .grid .img {
  width: 90%;
  margin-bottom: 4em;
  border-radius: 5px;
}

.case-study-container .case-study-body .grid .img:first-of-type, .case-study-container .case-study-body .grid .img:nth-child(2n) {
  margin: 0 auto 4em auto;
}

.case-study-container .case-study-body .grid .img.dual-img {
  border-radius: 0px;
}

.case-study-container .case-study-body .grid .img:last-of-type {
  margin-top: 2em;
}

.case-study-container .case-study {
  width: 65vw;
  margin: 3em auto;
  background: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.case-study-container .case-study .intro-section {
  background: #e9e9e9;
  padding: 3em 4em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.case-study-container .case-study .intro-section .title {
  color: #333333;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}

.case-study-container .case-study .intro-section .divider {
  margin: .6em 0;
  width: 200px;
  height: 3px;
  background-color: #4793A3;
}

.case-study-container .case-study .intro-section .text {
  width: 87.5%;
  color: #333333;
  line-height: 1.5em;
  margin-top: 2em;
}

.case-study-container .case-study .intro-section .text .primary {
  color: #4793A3;
  font-weight: bold;
}

.case-study-container .case-study .intro-section .rings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.case-study-container .case-study .intro-section .rings .ring-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 75%;
  -webkit-column-gap: 1.25em;
          column-gap: 1.25em;
}

.case-study-container .case-study .intro-section .rings .ring-grid .ring-img {
  width: 100%;
}

.case-study-container .case-study .intro-section .rings .text {
  font-size: 1.15rem;
  color: #666;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

.case-study-container .case-study .intro-section .image-section {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.case-study-container .case-study .intro-section .image-section .img {
  width: 90%;
  margin-left: 10%;
}

.case-study-container .case-study .regular-text {
  margin: 3em 4em;
  color: #333333;
  line-height: 1.5em;
}

.case-study-container .case-study .hero-img {
  width: 100%;
}

.case-study-container .case-study .hero-grid {
  background: url("../img/Portfolio Home Page/Dark Wallpaper.jpg");
  padding: 2em 3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

.case-study-container .case-study .hero-grid .ring-hero-img {
  width: 100%;
}

.case-study-container .case-study .content-section {
  margin: 3em 4em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.case-study-container .case-study .content-section .text-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.case-study-container .case-study .content-section .text-container .text {
  color: #333333;
  line-height: 1.5em;
}

.case-study-container .case-study .content-section .images-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  height: 100%;
  gap: 1em;
}

.case-study-container .case-study .content-section .images-container img {
  width: 100%;
  height: 100%;
}

.case-study-container .case-study .content-section .images-container img.taller {
  grid-row: span 2;
}

.case-study-container .case-study .large-img-grid {
  margin: 2em auto;
  padding: 0 4em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: .25em 1.1em;
}

.case-study-container .case-study .large-img-grid img {
  width: 100%;
}

.case-study-container .case-study .large-img-grid .two-columns {
  grid-column: span 2;
}

.case-study-container .case-study .larger-img-grid {
  margin: 0 auto 1em auto;
  padding: 0 4em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 1.1em;
}

.case-study-container .case-study .larger-img-grid img {
  width: 100%;
}

.case-study-container .case-study .small-img-grid {
  margin: 1em auto;
  padding: 2em 4em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 1.1em;
  background: #e9e9e9;
}

.case-study-container .case-study .small-img-grid img {
  width: 100%;
}

.case-study-container .case-study .heres-what-text {
  color: #333333;
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: capitalize;
  width: 45%;
  margin: 2em auto 1em auto;
  text-align: center;
}

.case-study-container .case-study .heres-what-text .primary {
  color: #4793A3;
  text-transform: uppercase;
}

.case-study-container .case-study .ending-section {
  background: #e9e9e9;
  padding: 4em 4em 8em 4em;
  text-align: center;
}

.case-study-container .case-study .ending-section .testimonial-video {
  width: 60%;
  height: 40vh;
  border: 0;
  border-radius: 10px;
}

.case-study-container .case-study .ending-section .btn {
  position: relative;
  top: 4em;
}

.case-study-container .case-study .btn-container {
  text-align: center;
  padding: 2em 0 4em 0;
}

.case-study-container .case-study .btn-container .btn {
  position: relative;
  top: 1em;
}

.case-study-section {
  background: url("../img/BG 2.png") center/cover no-repeat fixed;
  padding: 10vh 25vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

.case-study-section .case-study-box {
  background: #fff;
  padding: .5em .5em 5em .5em;
  border-radius: 5px;
  position: relative;
}

.case-study-section .case-study-box .case-study-img {
  width: 100%;
}

.case-study-section .case-study-box .title {
  color: #333333;
  font-weight: 900;
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: .25em 0 0 0;
  text-align: center;
}

.case-study-section .case-study-box .divider {
  width: 50%;
  height: 3px;
  background-color: #4793A3;
  margin: .5em auto 1em auto;
}

.case-study-section .case-study-box .desc {
  font-size: 1rem;
  width: 85%;
  margin: 0 auto;
  line-height: 1.5em;
  text-align: center;
}

.case-study-section .case-study-box .desc .primary {
  font-weight: bold;
  color: #4793A3;
}

.case-study-section .case-study-box .btn {
  position: absolute;
  bottom: 2em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.portfolio-work-section {
  background: url("../img/pattern-bg.png") center/cover no-repeat fixed;
  padding: 10vh 20vw;
  text-align: center;
}

.portfolio-work-section .work-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  margin-bottom: 4em;
}

.portfolio-work-section .work-grid .work-image {
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
  cursor: pointer;
}

.portfolio-work-section .work-grid .work-image:hover {
  opacity: .85;
}

.latest-work-section {
  min-height: 110px;
  background: url("../img/Portfolio Home Page/Wallpapers.jpg");
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 7fr;
      grid-template-columns: 1fr 7fr;
}

.latest-work-section .logo-box {
  background: url("../img/Portfolio Home Page/Dark Wallpaper.jpg") center/cover fixed;
}

.latest-work-section .logo-box .logo {
  width: 42.5%;
}

.latest-work-section .text-box,
.latest-work-section .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.latest-work-section .text-box .text {
  color: #333333;
  font-weight: 900;
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.latest-work-section .text-box .text .primary {
  color: #4793A3;
}

.case-study-title-section {
  min-height: 110px;
  background: url("../img/Portfolio Home Page/Wallpapers.jpg");
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 1fr;
      grid-template-columns: 7fr 1fr;
}

.case-study-title-section .icon-box {
  background: url("../img/Portfolio Home Page/Dark Wallpaper.jpg") center/cover fixed;
}

.case-study-title-section .icon-box .icon {
  color: #fff;
}

.case-study-title-section .text-box,
.case-study-title-section .icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.case-study-title-section .text-box .text {
  color: #333333;
  font-weight: 900;
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.case-study-title-section .text-box .text .primary {
  color: #4793A3;
}

.work-category-section {
  background: url("../img/Portfolio Home Page/Dark Wallpaper.jpg") center/cover fixed;
  padding: 4em 5vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 1.5em;
          column-gap: 1.5em;
}

.work-category-section .box {
  min-height: 70vh;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.work-category-section .box .content {
  min-width: 50%;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em;
  position: absolute;
  bottom: 4em;
}

.work-category-section .box .content .work-title {
  margin-right: .5em;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.25rem;
}

.work-category-section .box:hover {
  opacity: .75;
}

.work-category-section .box.automotive {
  background: url("../img/Portfolio Home Page/Auto.jpg") center/cover;
}

.work-category-section .box.products {
  background: url("../img/Portfolio Home Page/Product.jpg") center/cover;
}

.work-category-section .box.people {
  background: url("../img/Portfolio Home Page/People.jpg") center/cover;
}

.work-category-section .box.plates {
  background: url("../img/Portfolio Home Page/Plates.jpg") center/cover;
}

.case-studies-section {
  background: url("../img/Portfolio Home Page/Dark Wallpaper.jpg") center/cover fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 1.5em;
          column-gap: 1.5em;
  padding: 4em 15vw;
}

.case-studies-section .case-study-box {
  background: #fff;
  padding: .5em .5em 5em .5em;
  border-radius: 5px;
  position: relative;
}

.case-studies-section .case-study-box .case-study-img {
  width: 100%;
}

.case-studies-section .case-study-box .title {
  color: #333333;
  font-weight: 900;
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: .25em 0 0 0;
  text-align: center;
}

.case-studies-section .case-study-box .divider {
  width: 50%;
  height: 3px;
  background-color: #4793A3;
  margin: .5em auto 1em auto;
}

.case-studies-section .case-study-box .desc {
  font-size: 1rem;
  width: 85%;
  margin: 0 auto;
  line-height: 1.5em;
  text-align: center;
}

.case-studies-section .case-study-box .desc .primary {
  font-weight: bold;
  color: #4793A3;
}

.case-studies-section .case-study-box .btn {
  position: absolute;
  bottom: 2em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.faq-section {
  background: url("../img/pattern-bg.png") center/cover no-repeat fixed;
  padding: 15vh 25vw;
}

.faq-section .question-title {
  color: rgba(51, 51, 51, 0.75);
  font-size: 2rem;
  background: rgba(195, 195, 195, 0.65);
  padding: .5em 1em;
  margin-bottom: 1em;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  outline: none;
}

.faq-section .question-title:hover {
  background: rgba(175, 175, 175, 0.65);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.faq-section .question-title:focus {
  background: rgba(165, 165, 165, 0.65);
}

.faq-section .question-title span {
  font-weight: normal;
}

.faq-section .question-content {
  color: #737373;
  font-size: 1.5rem;
  padding-left: 1em;
  width: 95%;
  line-height: 1.25;
  padding-bottom: 3em;
}

.faq-section .question-content:last-of-type {
  margin-bottom: 0;
}

.faq-section .question-content .emphasise {
  color: #4793A3;
  font-weight: bold;
}

.faq-section .btn {
  position: relative;
  top: 5em;
  left: calc(50% - 70px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.faq-section details[open] summary ~ * {
  -webkit-animation: sweep .4s ease-in-out;
          animation: sweep .4s ease-in-out;
}

.testimonials-section {
  background: url("../img/Portfolio Home Page/Dark Wallpaper.jpg") center/cover fixed;
  padding: 10em 25vw 7.5em 25vw;
  border-bottom: 2px solid #fff;
}

.testimonials-section .testimonial-video {
  width: 100%;
  height: 57.5vh;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.testimonials-section .large-text {
  font-weight: 900;
  width: 84%;
  margin: 1em auto;
  color: #575757;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.testimonials-section .btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 1392px) {
  .case-study-container .case-study {
    width: 80vw;
  }
  .case-studies-section {
    padding: 4em 5vw;
  }
  .home-header .text-container {
    height: 45vh;
  }
  .home-header .text-container .small-heading {
    font-size: 1.1rem;
  }
  .home-header .text-container .big-heading {
    font-size: 5rem;
  }
  .work .work-heading {
    font-size: 1.65rem;
  }
  .work .text {
    font-size: 1rem;
  }
  .work .carousel {
    width: 90vw;
  }
  .work .carousel .carousel-image {
    width: calc(0.275 * 50vw);
    height: calc((0.275 * 50vw) * 1.25);
  }
  .work .carousel .carousel-image:hover {
    width: calc(0.275 * 50vw);
    height: calc((0.275 * 50vw) * 1.25);
  }
  .about-section {
    -ms-grid-columns: 4fr 5fr;
        grid-template-columns: 4fr 5fr;
    height: 80vh;
  }
  .about-section .text-section .title {
    margin-top: 15%;
    font-size: 2.75rem;
  }
  .about-section .text-section .text {
    font-size: .9rem;
  }
  .contact-section .contact-form {
    width: 45vw;
  }
  .large-footer {
    padding: 10vh 12.5vw 0 12.5vw;
  }
  .introduction {
    padding: 0 15vw;
  }
  .introduction .text-section .title {
    font-size: 1.75rem;
  }
  .introduction .text-section .about-text {
    font-size: 1rem;
  }
  .introduction .adam-img {
    right: 10%;
    width: 35%;
  }
  .get-in-touch .title {
    font-size: 2.5rem;
    letter-spacing: 4px;
  }
  .get-in-touch .grid {
    width: 70vw;
  }
  .faq-section {
    padding: 15vh 20vw;
  }
  .testimonials-section {
    padding: 10em 17.5vw 7.5em 17.5vw;
  }
  .affiliate-disclosure-section .title,
  .coming-soon-section .title {
    font-size: 2.5rem;
  }
  .affiliate-disclosure-section .text,
  .coming-soon-section .text {
    width: 50%;
  }
  .services-section {
    padding: 15vh 5vw;
  }
  .services-section .grid {
    width: 90vw;
  }
  .services-section .grid .service-box .content .service-heading {
    font-size: 2.25rem;
  }
  .services-section .grid .service-box .content .divider {
    margin-bottom: 1em;
  }
  .services-section .grid .service-box .content .service-text {
    font-size: .9rem;
  }
  .case-study-section,
  .portfolio-work-section {
    padding: 10vh 10vw;
  }
}

@media screen and (max-width: 1272px) {
  .about-section {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .about-section .image-section .logo {
    top: 0;
  }
  .case-study-container .case-study-body {
    min-width: 0;
  }
  .case-study-container .case-study-body .title {
    text-align: center;
  }
  .case-study-container .case-study-body .divider {
    margin: .6em auto 1em auto;
  }
  .case-study-container .case-study-body .grid {
    display: block;
  }
  .case-study-container .case-study-body .grid .text {
    text-align: center;
    width: 90%;
    margin: 0 0 4em 5%;
  }
  .case-study-container .case-study-body .grid .text.num-4 {
    margin: 0 0 4em 5%;
  }
  .case-study-container .case-study-body .grid .text:not(:first-of-type) {
    margin: 0 0 4em 5%;
  }
  .case-study-container .case-study-body .grid .text:first-of-type {
    margin-top: 2em;
  }
  .case-study-container .case-study-body .grid .img {
    margin-bottom: 4em;
  }
}

@media screen and (max-width: 1148px) {
  .case-study-container .case-study {
    width: 90vw;
  }
  .work-category-section {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    row-gap: 2em;
    height: 100vh;
  }
  .work-category-section .box {
    height: 100%;
    min-height: 20vh;
  }
  .home-header .text-container {
    height: 40vh;
  }
  .home-header .text-container .small-heading {
    font-size: 1rem;
  }
  .home-header .text-container .big-heading {
    font-size: 4rem;
  }
  .work .carousel {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 73vw;
    height: 90vh;
  }
  .work .carousel .carousel-image {
    width: calc(0.45 * 50vw);
    height: calc((0.45 * 50vw) * 1.25);
  }
  .work .carousel .carousel-image:nth-child(n+4) {
    margin-top: -3em;
  }
  .work .carousel .carousel-image:nth-child(4) {
    margin-left: 0;
  }
  .work .carousel .carousel-image:hover {
    width: calc(0.45 * 50vw);
    height: calc((0.45 * 50vw) * 1.25);
    margin-top: 0;
  }
  .work .carousel .btn {
    position: absolute;
    bottom: 1em;
  }
  .contact-section .contact-form {
    width: 60vw;
  }
  .introduction {
    padding: 0 5vw;
  }
  .introduction .text-section {
    width: 75%;
  }
  .introduction .adam-img {
    width: 40%;
  }
  .faq-section {
    padding: 15vh 10vw;
  }
  .testimonials-section {
    padding: 10em 12.5vw 7.5em 12.5vw;
  }
  .services-section .grid {
    gap: 1.5em;
  }
  .case-study-section .case-study .content .case-study-title {
    font-size: 1.75rem;
  }
  .case-study-section .case-study .content .divider {
    height: 4px;
    max-width: 200px;
    width: 30%;
  }
  .case-study-section .case-study .content .case-study-desc {
    font-size: .85rem;
  }
  .case-study-section .case-study .case-study-img {
    -o-object-position: center 0px;
       object-position: center 0px;
  }
}

@media screen and (max-width: 1040px) {
  .case-study-container .case-study {
    text-align: center;
  }
  .case-study-container .case-study .intro-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .case-study-container .case-study .intro-section .divider {
    margin-left: auto;
    margin-right: auto;
  }
  .case-study-container .case-study .intro-section .text-section .text {
    margin: 1em auto;
  }
  .case-study-container .case-study .intro-section .image-section .img {
    width: 50%;
    margin: 0 auto;
  }
  .case-study-container .case-study .content-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .case-study-container .case-study .content-section .text-container .text {
    margin: 0 0 2em 10%;
  }
  .case-study-container .case-study .ending-section .testimonial-video {
    width: 80%;
  }
  .case-studies-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 2em;
    padding: 4em 30vw;
  }
  .case-studies-section .case-study-box {
    padding-bottom: 6em;
  }
  .work,
  .contact-section,
  .about-header,
  .get-in-touch,
  .header-w-divider,
  .services-section,
  .latest-work-section,
  .faq-section,
  .affiliate-disclosure-section,
  .coming-soon-section,
  .portfolio-work-section,
  .case-study-container {
    background-attachment: scroll;
  }
  .latest-work-section {
    -ms-grid-columns: 1fr 6fr;
        grid-template-columns: 1fr 6fr;
  }
  .latest-work-section .text-box .text {
    font-size: 1.35rem;
  }
  .case-study-title-section {
    -ms-grid-columns: 6fr 1fr;
        grid-template-columns: 6fr 1fr;
  }
  .case-study-title-section .text-box .text {
    font-size: 1.35rem;
  }
  .navbar .nav-list {
    display: none;
  }
  .navbar .menu-icon {
    display: block;
  }
  .about-header .page-title {
    font-size: 3rem;
  }
  .about-section {
    display: block;
    height: 70vh;
  }
  .about-section .image-section {
    display: none;
  }
  .about-section .text-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-section .text-section .title {
    margin: 0;
  }
  .about-section .text-section .btn {
    position: relative;
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
  .introduction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 70vh;
  }
  .introduction .text-section .title {
    text-align: center;
  }
  .introduction .text-section .about-text {
    text-align: center;
    margin: 0 auto 2em auto;
  }
  .introduction .text-section .btn {
    margin: 0 auto;
  }
  .introduction .adam-img {
    display: none;
  }
  .get-in-touch .grid {
    width: 90vw;
  }
  .header-w-divider .page-title {
    font-size: 3rem;
  }
  .testimonials-section {
    padding: 10em 5vw 7.5em 5vw;
  }
  .services-section {
    padding: 15vh 15vw;
  }
  .services-section .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 70vw;
  }
}

@media screen and (max-width: 948px) {
  .work .carousel {
    height: 80vh;
    width: 53vw;
    min-width: 500px;
  }
  .work .carousel .carousel-image {
    width: calc(0.5 * 50vw);
    min-width: 236px;
    height: calc((0.5 * 50vw) * 1.25);
    min-height: 294px;
  }
  .work .carousel .carousel-image:nth-child(n+5) {
    display: none;
  }
  .work .carousel .carousel-image:nth-child(3) {
    margin-left: 0;
  }
  .work .carousel .carousel-image:nth-child(4) {
    margin-left: 1.2em;
    margin-top: 0;
  }
  .contact-section .contact-form .form-group.grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact-section .contact-form .form-group.grid .input:nth-child(2) {
    margin-top: 1.25em;
  }
  .large-footer {
    padding: 10vh 7.5vw 0 7.5vw;
  }
  .large-footer .footer-small-section .icon-list .icon-container .icon {
    padding: 8px;
    font-size: .85rem;
  }
  .portfolio-work-section .work-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 884px) {
  .case-study-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 2em;
  }
  .case-studies-section {
    padding: 4em 10vw;
  }
  .case-study-title-section {
    -ms-grid-columns: 5fr 1fr;
        grid-template-columns: 5fr 1fr;
  }
  .case-study-title-section .text-box .text {
    width: 62.5%;
    text-align: center;
  }
  .home-header .text-container .small-heading {
    font-size: 1rem;
  }
  .home-header .text-container .big-heading {
    font-size: 3rem;
    letter-spacing: -2.5px;
    margin: .25em 0;
  }
  .testimonials-section .testimonial-video {
    height: 30vh;
    width: 70%;
    margin-left: 15%;
  }
  .large-footer .footer-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 10vh;
    row-gap: 10vh;
  }
  .large-footer .footer-grid .email-section {
    text-align: center;
  }
  .large-footer .footer-grid .email-section .text {
    margin: 2em auto;
    width: 50%;
    font-size: .8rem;
    line-height: 1.5;
  }
  .large-footer .footer-grid .lists-section .list-container {
    text-align: center;
  }
  .large-footer .footer-grid .lists-section .list-container .heading {
    font-size: 1.15rem;
  }
  .large-footer .footer-grid .lists-section .list-container .list .list-item .list-link {
    font-size: .8rem;
  }
  .large-footer .footer-small-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 250px;
    padding: 50px 0;
  }
  .get-in-touch {
    height: auto;
    padding-bottom: 15vh;
  }
  .get-in-touch .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 50vw;
  }
  .get-in-touch .box {
    height: 30vh;
  }
  .header-w-divider .page-title {
    font-size: 2.5rem;
  }
  .faq-section .question-title {
    font-size: 1.5rem;
    text-align: center;
  }
  .faq-section .question-content {
    font-size: 1rem;
  }
  .case-study-section {
    padding: 10vh 20vw;
  }
  .case-study-section .case-study {
    display: block;
    padding: 2em;
  }
  .case-study-section .case-study .content {
    padding: 1em;
    text-align: center;
  }
  .case-study-section .case-study .content .divider {
    margin: 1em auto;
  }
  .case-study-section .case-study .content .case-study-desc {
    margin: 0 auto 2em auto;
  }
  .case-study-section .case-study .case-study-img {
    width: 50%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 100%;
    margin-top: 2em;
  }
}

@media screen and (max-width: 712px) {
  .case-study-container .case-study .intro-section .image-section .img {
    width: 90%;
  }
  .case-study-container .case-study .small-img-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .case-study-container .case-study .hero-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 2em;
  }
  .case-study-container .case-study .ending-section .testimonial-video {
    width: 100%;
    height: 30vh;
  }
  .latest-work-section {
    -ms-grid-columns: 1fr 5fr;
        grid-template-columns: 1fr 5fr;
  }
  .latest-work-section .text-box .text {
    width: 62.5%;
    text-align: center;
  }
  .home-header {
    min-height: 650px;
  }
  .home-header .text-container {
    height: 50vh;
  }
  .home-header .text-container .small-heading {
    font-size: 1.25rem;
  }
  .home-header .text-container .big-heading {
    font-size: 4.5rem;
    letter-spacing: -4px;
    line-height: 1;
  }
  .home-header .text-container .big-heading.primary {
    margin-top: 40px;
  }
  .home-header .text-container .big-heading:first-of-type {
    margin-top: .5em;
  }
  .home-header .camera {
    width: 20vw;
  }
  .testimonials-section .testimonial-video {
    width: 85%;
    height: 40vh;
    margin-left: 7.5%;
  }
  .work .work-heading {
    width: 60vw;
  }
  .work .text {
    width: 60vw;
  }
  .work .carousel {
    min-width: 237px;
    width: 237px;
    height: 120vh;
    min-height: 1000px;
  }
  .work .carousel .carousel-image:nth-child(n+2) {
    margin: 0;
  }
  .work .carousel .carousel-image:nth-child(4) {
    display: none;
  }
  .about-section {
    min-height: 600px;
  }
  .large-footer .footer-grid .lists-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 40px;
  }
  .introduction {
    height: 100vh;
  }
  .header-w-divider .page-title {
    font-size: 2.75rem;
    width: 75%;
  }
  .affiliate-disclosure-section .title,
  .coming-soon-section .title {
    width: 75%;
  }
  .affiliate-disclosure-section .text,
  .coming-soon-section .text {
    width: 65%;
  }
  .services-section {
    padding: 15vh 5vw;
  }
  .services-section .grid {
    width: 90vw;
    gap: 2em;
  }
  .portfolio-popup-image {
    height: 50vh;
  }
}

@media screen and (max-width: 548px) {
  .case-study-container .case-study .content-section .images-container,
  .case-study-container .case-study .large-img-grid,
  .case-study-container .case-study .small-img-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 2em;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .case-study-container .case-study .content-section .images-container *,
  .case-study-container .case-study .large-img-grid *,
  .case-study-container .case-study .small-img-grid * {
    grid-row: span 1;
    grid-column: span 1;
  }
  .case-study-container .case-study .heres-what-text {
    font-size: 1.1rem;
  }
  .work-category-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 110vh;
  }
  .latest-work-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 30vh;
  }
  .latest-work-section .logo-box .logo {
    width: 20%;
    max-width: 150px;
  }
  .case-study-title-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 30vh;
  }
  .navbar {
    height: 100px;
  }
  .navbar .menu-icon {
    line-height: 100px;
  }
  .home-header {
    min-height: 500px;
    height: 50vh;
  }
  .home-header .text-container {
    width: 80vw;
    height: 30vh;
  }
  .home-header .text-container .small-heading {
    font-size: 1rem;
  }
  .home-header .text-container .big-heading {
    font-size: 3rem;
    width: 100%;
  }
  .home-header .camera {
    width: 22.5vw;
    min-width: 105px;
  }
  .about-section {
    min-height: 750px;
  }
  .about-section .text-section .title {
    font-size: 2rem;
  }
  .about-section .text-section .text {
    font-size: .8rem;
  }
  .about-header .page-title {
    font-size: 2.5rem;
  }
  .introduction {
    height: 120vh;
  }
  .get-in-touch .title {
    font-size: 1.75rem;
    letter-spacing: 2.5px;
  }
  .get-in-touch .grid {
    width: 75vw;
  }
  .get-in-touch .grid .box .text {
    font-size: 1rem;
  }
  .header-w-divider {
    height: 50vh;
  }
  .header-w-divider .divider {
    top: 30%;
  }
  .header-w-divider .page-title {
    width: 80%;
  }
  .affiliate-disclosure-section,
  .coming-soon-section {
    min-height: 85vh;
  }
  .affiliate-disclosure-section .title,
  .coming-soon-section .title {
    font-size: 2rem;
  }
  .affiliate-disclosure-section .text,
  .coming-soon-section .text {
    font-size: .85rem;
    line-height: 1.5em;
    width: 75%;
  }
  .services-section .grid {
    gap: 4em;
  }
  .services-section .grid .service-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 2em;
  }
  .services-section .grid .service-box .content {
    text-align: center;
  }
  .services-section .grid .service-box .content .divider {
    margin: 0 auto 1.5em auto;
  }
  .services-section .grid .service-box .content .service-text {
    margin: 0 auto;
  }
  .services-section .grid .service-box .service-img {
    width: 50%;
    margin: 0 auto;
    height: 80%;
    min-width: 200px;
    min-height: 300px;
  }
  .case-study-section {
    padding: 10vh 10vw;
  }
  .case-study-section .case-study .content .btn {
    font-size: .65rem;
  }
  .case-study-section .case-study .case-study-img {
    width: 80%;
  }
  .portfolio-work-section {
    padding: 10vh 15vw;
  }
  .portfolio-work-section .work-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .portfolio-popup-image {
    height: 40vh;
  }
  .case-study-container .case-study-body {
    width: 90vw;
  }
  .testimonials-section .testimonial-video {
    height: 25vh;
  }
}
/*# sourceMappingURL=main.css.map */