* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #4793A3;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #4793A3;
}

.navbar {
  height: 80px;
  width: 100vw;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  background: #fff;
  padding: 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 5px solid #4793A3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.navbar .navbar-brand {
  width: 100px;
  height: 50px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar .nav-list {
  height: 80px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-list .nav-item {
  line-height: 80px;
}

.navbar .nav-list .nav-item:not(:last-of-type) {
  margin-right: 1.5em;
}

.navbar .nav-list .nav-item .nav-link {
  text-decoration: none;
  color: #333333;
  font-size: .85rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.navbar .nav-list .nav-item .nav-link:hover {
  color: #4793A3;
}

.navbar .nav-list .nav-item .nav-link.active {
  color: #4793A3;
  cursor: default;
}

.home-header {
  height: 70vh;
  margin-top: 80px;
  width: 100vw;
  position: relative;
  background: url("../img/pattern-bg.png") center/cover no-repeat;
}

.home-header .text-container {
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.home-header .text-container .small-heading {
  font-weight: 500;
  text-transform: uppercase;
  color: #333333;
  font-size: 1.25rem;
  margin-bottom: .5em;
}

.home-header .text-container .small-heading .blue {
  color: #4793A3;
  font-weight: bold;
}

.home-header .text-container .big-heading {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 6rem;
  -webkit-transform: scale(1.2, 1.25);
          transform: scale(1.2, 1.25);
  color: #333333;
  letter-spacing: -6px;
}

.home-header .text-container .big-heading.primary {
  color: #4793A3;
  position: relative;
  top: -10px;
}

.home-header .text-container .btn {
  position: relative;
  top: 1em;
}

.home-header .camera {
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 175px;
}

.btn {
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration: none;
  -webkit-transition: .33s ease-in-out;
  transition: .33s ease-in-out;
  border: 2px solid;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .75rem;
}

.btn.primary {
  border-color: #4793A3;
  color: #4793A3;
}

.btn.primary:hover {
  background: #4793A3;
  color: #fff;
}

.btn.light {
  background: #fff;
  color: #333333;
  border: none;
  padding: 12px 28px;
  cursor: pointer;
}

.btn.light:hover {
  background: #ccc;
}

.btn.primary-filled {
  color: #fff;
  background: #4793A3;
  border: none;
  padding: 12px 28px;
}

.btn.primary-filled:hover {
  background: #62abbb;
}

.work {
  background: url("../img/our-work-bg.png") center/cover no-repeat fixed;
  width: 100vw;
  padding: 6em 0;
}

.work .work-heading {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  width: 650px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.85rem;
  letter-spacing: -1px;
}

.work .divider {
  width: 175px;
  background: #fff;
  height: 3px;
  margin: 1.5em auto;
}

.work .text {
  font-size: 1.1rem;
  color: #eee;
  width: 550px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5em;
}

.work .carousel {
  width: 50vw;
  position: relative;
  margin: 1.5em auto 0 auto;
  height: 50vh;
}

.work .carousel .carousel-image {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  border-radius: 5px;
}

.work .carousel .carousel-image.image-1 {
  width: 40%;
  height: calc((0.4 * 50vw) / 1.5);
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.work .carousel .carousel-image.image-2, .work .carousel .carousel-image.image-6 {
  width: 30%;
  height: calc((0.3 * 50vw) / 1.5);
  top: 27.5%;
  opacity: .8;
  z-index: 1;
}

.work .carousel .carousel-image.image-2.image-6, .work .carousel .carousel-image.image-6.image-6 {
  left: 67%;
}

.work .carousel .carousel-image.image-2.image-2, .work .carousel .carousel-image.image-6.image-2 {
  left: 20px;
}

.work .carousel .carousel-image.image-3, .work .carousel .carousel-image.image-5 {
  width: 15%;
  height: calc((0.15 * 50vw) / 1.5);
  top: 22.5%;
  z-index: 0;
  opacity: .6;
}

.work .carousel .carousel-image.image-3.image-5, .work .carousel .carousel-image.image-5.image-5 {
  left: 60%;
}

.work .carousel .carousel-image.image-3.image-3, .work .carousel .carousel-image.image-5.image-3 {
  left: 25%;
}

.work .carousel .carousel-image.image-4 {
  width: 8%;
  height: calc((0.08 * 50vw) / 1.5);
  top: 22.5%;
  z-index: 0;
  opacity: .4;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.work .btn {
  position: relative;
  left: calc(50% - 60px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about-section {
  height: 92vh;
  overflow-y: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
}

.about-section .text-section {
  width: 100%;
  height: 100%;
  background: url("../img/pattern-bg.png") center/cover no-repeat;
}

.about-section .text-section .title {
  color: #333333;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  margin-top: 25%;
}

.about-section .text-section .title .primary {
  color: #4793A3;
}

.about-section .text-section .text {
  width: 47.5%;
  text-align: center;
  margin: 2em auto 3em auto;
  line-height: 1.5;
  color: #4d4d4d;
  font-weight: lighter;
}

.about-section .text-section .btn {
  position: relative;
  left: calc(50% - 65px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about-section .image-section .logo {
  width: 100%;
  position: relative;
  top: -200px;
}

.contact-section {
  background: url("../img/our-work-bg.png") center/cover no-repeat fixed;
  width: 100vw;
  padding: 6em 0;
}

.contact-section .title {
  color: #fff;
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 1em;
}

.contact-section .contact-form {
  width: 30vw;
  margin: 0 auto;
}

.contact-section .contact-form .form-group {
  width: 100%;
  margin: 1.25em 0;
}

.contact-section .contact-form .form-group.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 1.25em;
          column-gap: 1.25em;
}

.contact-section .contact-form .form-group .input {
  width: 100%;
  min-height: 45px;
  padding: 12px;
  border: none;
  border-radius: 5px;
}

.contact-section .contact-form .form-group .btn {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=main.css.map */